{% extends 'LayoutBundle:Layout:layout_partner_frontend.html.twig' %}
{% block title %}{{ 'title.page.legal' | trans }}{% endblock %}
{% block carousel %}
{% endblock %}
{% block login_register %}
    {% include 'LayoutBundle:Security:overlay_login.html.twig' %}
{% endblock %}
{% block navbar %}
    {%  include 'PartnerBundle:Layout:navbar.html.twig' with { 'navbar_bg_class' : true }  %}
{% endblock %}
{% block body %}
    <div class="space space-70"></div>
    <div class="col-md-12">
        <div class="container" style="font-family: MyriadProLight;font-size: 24px">
            {{ 'label.terms.legal' | trans | raw }}
        </div>

    </div>
{% endblock %}


