{%for own in ownerships%}
<li>
    <div class="option_ex_div">
        <table class="users_table">
            <tbody>
                <tr>
                    <td class="checked_column">
                        <input class="check_ex" type="checkbox" name="executor" value="{{own.ownId}}" checked="checked"/>
                    </td>
                    <td class="data_column">
                        <div class="data_ex">
                          {{own.ownMcpCode}} - {{own.ownName}}
                        </div>
                    </td>
            </tbody>
        </table>
    </div>
</li>
{% endfor %}