# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*

web/bundles
web/uploads/albumImages
web/uploads/destinationImages
web/uploads/languageImages
web/uploads/ownershipImages
web/uploads/userImages

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# IDE PHPStorm
.idea/*

/nbproject/private/
