# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/albumImages
web/bundles/destinationImages
web/bundles/languageImages
web/bundles/ownershipImages
web/bundles/userImages

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# IDE PHPStorm
*/.idea/*

/nbproject/private/