# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*

web/bundles
web/uploads/albumImages
web/uploads/destinationImages/*.jpg
web/uploads/destinationImages/originals
web/uploads/destinationImages/thumbnails/*.jpg
web/uploads/destinationImages/icons/*
web/uploads/languageImages
web/uploads/ownershipImages/*.jpg
web/uploads/ownershipImages/originals
web/uploads/ownershipImages/thumbnails/*.jpg
web/uploads/userImages
src/MyCp/FrontEndBundle/Controller/lib/*
tmp/*
src/Abuc

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# IDE PHPStorm
.idea/*

# Vagrant
.vagrant/*
default/*

nbproject/*
