{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li class="active">Administración</li>
</ul>
{% endblock %}
{% block content %}
<h1 style="margin: 0 0 10px 0;">Bienvenido(a), {% if app.user.getUserUserName is defined %}{{app.user.getUserUserName}}{% else %}{{app.user.getUserName}}{% endif %}</h1>
<div class="row-fluid">
    <div class="span2 text-center">
        {{ render(controller('mycpBundle:BackendUser:getUserPhotoPath', {'userId': app.user.userId, 'changePhotoLink': true})) }}
    </div>
    <div class="span10">
        <div class="alert alert-block">
            Visite las secciones que se encuentran en el menú de la izquierda para realizar las tareas administrativas correspondiente a su rol.</div>
    </div>
</div>
    <br/>
    <div class="row-fluid">
        <div class="span12">
            {{ include('mycpBundle:reports:dashboardSummary.html.twig') }}
        </div>
    </div>
        <br/>
{% endblock %}
