<div id="overlay-login" class="login overlay overlay-contentscale gray-bg">
   {# {% if remoteLogin is not defined %}
        {% include 'FOSUserBundle:Security:overlayLoginContent.html.twig' %}
    {% endif %}#}
</div>