<button type="button" class="login overlay-close">{{ 'btn.close'|trans }}</button>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>Lorem impsum</h3>
        <p>Login in. To see it in action.</p>
        <form class="m-t" method="post" id="login-form" action="{{ path('frontend_partner_login_check') }}">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Correo" name="_username"   value="{{ last_username|default('') }}"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" id="inputPassword"  name="_password"/>
                </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <a href="#"><small>Forgot password?</small></a>
        </form>
    </div>
</div>