<div id="overlay-forgot" class="login overlay overlay-contentscale gray-bg">
   {% if remoteLogin is not defined %}
        {% include 'LayoutBundle:Security:forgot-content.html.twig' %}
    {% endif %}
</div>