{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"RESERVATION_CONFIRM" | trans}}
{% endblock %}

{% set main_tab = 5 %}
{% block content_nav_top_body %}
destinos
{% endblock %}

{% block body %}
    <div style="padding: 30px 0px 40px" class="bg-solid-ligth-blue">
        <div class="container">
            <h1 class="h-size-1 h-blue-4 text-center caecilia-roman">{{"RESERVATION_CONFIRM_TITLE"|trans}}</h1>
            <h2 class="text-center h-size-4 no-margin">{{"RESERVATION_CONFIRM_SUBTITLE"|trans}}</h2>
            <br>
            <div class="text-center">
                <img src="{{ asset('bundles/frontend/img/icons/ok.png') }}"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bg-solid-orange-bar"><h1 class="caecilia-roman h-white text-center">Otros alojamientos pueden estar disponibles</h1></div>
        <h3 class="h-size-4 h-grey text-center no-margin">Le recomendamos consultar la disponibilidad de otras casas similares dentro de su destino</h3>
        <br/>
        <div class="row thumbs-houses-2">
            <div class="col-sm-4">
                <table class="full-width">
                    <tbody><tr>
                        <td class="">
                            <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;+5&nbsp;&nbsp;&nbsp;">
                                <img src="assets/img/house.jpg">
                            </div>
                        </td>
                        <td>
                            <img src="assets/img/icons/pixel.gif" class="icon-medium premium-icon">&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>Premium</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="name-cont">
                            <h1 class="h-blue">Casa Particular en Guanabo La Casa de Elena</h1>
                            <small>La Habana, Habana del Este<br>Penthouse / 2 Habitaciones4</small>
                        </td>
                        <td style="text-align: right">
                            <small>Desde:</small>
                            <div class="big-price-blue">$30</div>
                            <small>por noche</small>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-off-icon">
                                    <br>
                                    <small>3 comentarios</small>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <span><img src="assets/img/icons/pixel.gif" class="icon icon-medium icon-heart"> <small>agregar a favoritos</small></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
            <div class="col-sm-4">
                <table class="full-width">
                    <tbody><tr>
                        <td class="">
                            <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;+5&nbsp;&nbsp;&nbsp;">
                                <img src="assets/img/house.jpg">
                            </div>
                        </td>
                        <td>
                            <img src="assets/img/icons/pixel.gif" class="icon-medium premium-icon">&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>Premium</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="name-cont">
                            <h1 class="h-blue">Casa Particular en Guanabo La Casa de Elena</h1>
                            <small>La Habana, Habana del Este<br>Penthouse / 2 Habitaciones4</small>
                        </td>
                        <td style="text-align: right">
                            <small>Desde:</small>
                            <div class="big-price-blue">$30</div>
                            <small>por noche</small>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-off-icon">
                                    <br>
                                    <small>3 comentarios</small>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <span><img src="assets/img/icons/pixel.gif" class="icon icon-medium icon-heart"> <small>agregar a favoritos</small></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
            <div class="col-sm-4">
                <table class="full-width">
                    <tbody><tr>
                        <td class="">
                            <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;+5&nbsp;&nbsp;&nbsp;">
                                <img src="assets/img/house.jpg">
                            </div>
                        </td>
                        <td>
                            <img src="assets/img/icons/pixel.gif" class="icon-medium premium-icon">&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>Premium</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="name-cont">
                            <h1 class="h-blue">Casa Particular en Guanabo La Casa de Elena</h1>
                            <small>La Habana, Habana del Este<br>Penthouse / 2 Habitaciones4</small>
                        </td>
                        <td style="text-align: right">
                            <small>Desde:</small>
                            <div class="big-price-blue">$30</div>
                            <small>por noche</small>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-icon">
                                    <img src="assets/img/icons/pixel.gif" class="icon icon-2 tiny-star-off-icon">
                                    <br>
                                    <small>3 comentarios</small>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <span><img src="assets/img/icons/pixel.gif" class="icon icon-medium icon-heart"> <small>agregar a favoritos</small></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>
        <br/>
        <br/>
        <h1 class="text-center caecilia-roman no-margin h-size-3">¿Ha consultado otros destinos?</h1>
        <hr/>
        <div class="row thumbs-houses thumbs-destination">
            <div class="col-sm-4">
                <table class="col-sm-12">
                    <tbody><tr>
                        <td class="full-width"><img src="assets/img/capitol.jpg" class="thumbnail full-width"></td>
                        <td>
                            <div class="square-grey-cont">
                                <div class="cont">
                                    Población<br><b>2000300</b>
                                </div>
                            </div>
                            <div class="square-grey-cont">
                                <div class="cont">
                                    Referencia<br><b>Capitolio Nacional</b>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tbody></table>
                <h1 class="h-blue">La Habana</h1>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                <div class="row margin-t-t">
                    <div class="col-xs-8">
                        <small><img class="icon-medium icon-heart" src="assets/img/icons/pixel.gif"> agregar a favoritos</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <small>más <img class="icon-medium icon-more" src="assets/img/icons/pixel.gif"></small>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <h4><small>Casas disponibles </small><b>423</b></h4>
                </div>

            </div>
            <div class="col-sm-4">
                <table class="col-sm-12">
                    <tbody><tr>
                        <td class="full-width"><img src="assets/img/capitol.jpg" class="thumbnail full-width"></td>
                        <td>
                            <div class="square-grey-cont">
                                <div class="cont">
                                    Población<br><b>2000300</b>
                                </div>
                            </div>
                            <div class="square-grey-cont">
                                <div class="cont">
                                    Referencia<br><b>Capitolio Nacional</b>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tbody></table>
                <h1 class="h-blue">La Habana</h1>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                <div class="row margin-t-t">
                    <div class="col-xs-8">
                        <small><img class="icon-medium icon-heart" src="assets/img/icons/pixel.gif"> agregar a favoritos</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <small>más <img class="icon-medium icon-more" src="assets/img/icons/pixel.gif"></small>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <h4><small>Casas disponibles </small><b>423</b></h4>
                </div>

            </div>
            <div class="col-sm-4">
                <table class="col-sm-12">
                    <tbody><tr>
                        <td class="full-width"><img src="assets/img/capitol.jpg" class="thumbnail full-width"></td>
                        <td>
                            <div class="square-grey-cont">
                                <div class="cont">
                                    Población<br><b>2000300</b>
                                </div>
                            </div>
                            <div class="square-grey-cont">
                                <div class="cont">
                                    Referencia<br><b>Capitolio Nacional</b>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tbody></table>
                <h1 class="h-blue">La Habana</h1>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                <div class="row margin-t-t">
                    <div class="col-xs-8">
                        <small><img class="icon-medium icon-heart" src="assets/img/icons/pixel.gif"> agregar a favoritos</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <small>más <img class="icon-medium icon-more" src="assets/img/icons/pixel.gif"></small>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <h4><small>Casas disponibles </small><b>423</b></h4>
                </div>

            </div>
        </div>
        <div class="bg-gradient-green-bar"><h1 class="caecilia-roman h-white text-center">Conozca los destinos por provincias</h1></div>
        mapa
        {% render 'frontEndBundle:public:home_carrousel' %}
    </div>




{% endblock %}