{% extends 'FrontEndBundle:mycasatrip:layout_blank.html.twig' %}
{% block body_inner %}
    <h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal;">{{"PUBLICATION_DETAIL" | trans}}</h1>

    <p  style="font-weight: normal;margin-top: 20px; color: #6C726B">{{"PUBLICATION_DETAIL_T" | trans}}</p>

    <h2 class="h-blue caecilia-roman" style="font-weight: normal;">{{"PUBLICATION_DETAIL_1" | trans}}</h2>

    <div>
        {{"PUBLICATION_DETAIL_2" | trans | raw }}
    </div>

    <br/>
    <a  href="https://www.postfinance.ch/en/footer/impressum.html">https://www.postfinance.ch/en/footer/impressum.html</a>
{% endblock %}
