{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}MyCasaTrip{% endblock %}
{% set main_tab = 6 %}
{% block content_nav_top_body %}
Mycasa trip
{% endblock %}
{% block body %}
    <div class="container">
            {% block body_inner %}
            {% endblock %}
    </div>
<script type="text/javascript">
    $('#mct_change_order').change(function(){
        $('#order_by_form').submit();
    })
</script>
{% endblock %}
