{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">Bienvenido a MyCasaParticular</h4>
    <p style="font-family: Arial; font-size: 14px">
        <p>Estimado Propietario(a):</p>
        <p>Gracias por unirse a <b>MyCasaParticular</b>. Ser&aacute; un placer trabajar y hacer negocios juntos.</p>
        <p>Usted ha completado con &eacute;xito el formulario de registro de su propiedad y la misma acaba de ser publicada. El equipo de <b>MyCasaParticular</b> proceder&aacute; a revisar sus informaciones para validar que no incluya contenido inapropiado. En caso de encontrar contenido inapropiado, le notificaremos y su propiedad quedar&aacute; inactiva. </p>
        <p>Le recordamos que el precio de su alojamiento lo establece usted. Por su parte, <b>MyCasaParticular</b> cobra al TURISTA una comisi&oacute;n correspondiente al 20% del precio publicado en el sitio. Reiteramos que usted NO PAGA COMISI&Oacute;N. El valor que hacemos p&uacute;blico incluye el precio que usted pone a su alojamiento m&aacute;s la comisi&oacute;n nuestra.</p>
        <p>V&eacute;alo de este modo: </p>
        <p>El Precio P&uacute;blico en la web = Ingreso determinado por usted para su Casa Particular + Comisi&oacute;n <b>MyCasaParticular</b>.</p>

        <p>Donde</p>
        <p>El Ingreso de su Casa Particular = 80% del Precio P&uacute;blico</p>
        <p>Y la Comisi&oacute;n de <b>MyCasaParticular</b> = 20% del Precio P&uacute;blico</p>
        <p>Para consultar sus dudas, por favor, escr&iacute;banos a <a href="mailto:casa@mycasaparticular.com">casa@mycasaparticular.com</a>. Nuestra central de reservas tambi&eacute;n estar&aacute; a su disposici&oacute;n a trav&eacute;s del tel&eacute;fono 78673574</p>
        <p>Saludos Cordiales,</p>
        <p>Equipo de MyCasaParticular.com</p>
    </p>
{% endblock %}