{% extends 'FrontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
<p>Estimado(a) {{ userFullName }}:</p>

<p>Nos alegra saber que está interesado en trabajar con <b>MyCasaParticular.com</b>, empresa líder del mercado de reservas online de casas de alquiler en Cuba. </p>

<p>Fundada en 2009, nuestra empresa cuenta con una plataforma web que facilita el vínculo entre más de 2 000 propietarios de casas particulares en Cuba con un mercado que genera más de 6 000 reservas y unos 8 000 turistas por año, los que prefieren este tipo de alojamiento para disfrutar sus vacaciones en los diferentes destinos turísticos del país.</p>

<p><b>MyCasaParticular.com</b> también cuenta con varios acuerdos firmados con agencias de viajes y turoperadores de Europa y América del Norte, líderes en sus respectivos mercados, los que gestionan la emisión de turistas a Cuba a través de nuestra empresa.</p>

<p>Para la inclusión de su propiedad en <b>MyCasaParticular.com</b>,  le brindamos una Oferta Básica por valor de <b>20 CUC</b>, que le enviamos adjunta a este mensaje, junto con el formulario para la inscripción en nuestro sitio web. Ambos documentos los puede abrir con Adobe Reader 9.0 o superior.</p>

<p>Cualquier pregunta que tenga sobre las condiciones del servicio u otras referentes al procedimiento de inscripción de su casa particular, no dude en contactarnos, para nuestro equipo será un placer atenderle.</p>


Atentamente,<br/>
<b>Equipo de Trabajo</b><br/>
<b>MyCasaParticular</b> <br/><br/>

Teléfono: +53 7867 1111<br/>
Correo: <a href="mailto:casa@mycasaparticular.com">casa@mycasaparticular.com</a><br/>

{% endblock %}