{% extends 'FrontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
<p>Estimado(a) {{ userFullName }}:</p>

<p>Gracias por contactar con MyCasaParticular.com</p>

<p>Adjunto podrá encontrar la oferta y el formulario/contrato para registrar su casa particular en nuestro sitio de reservas online. De estar de acuerdo con nuestra oferta, por favor complete el formulario adjunto y envíenlo lo antes posible a nuestro correo electrónico.</p>

<p>También será necesario que nos envíe al menos 10 fotos de su casa (dormitorio, baño, terraza, comedor, fachada, áreas comunes). Las fotos deben tener buena calidad, recuerde que serán la imagen de su alojamiento en Internet. La resolución óptima de las fotos para ser publicadas en nuestro sitio web es de 640 x 480 pixeles. De no contar con fotos en dicha resolución, envíelas y nosotros le haremos los cambios que sean necesarios.</p>

<p>Si tienen alguna duda o pregunta sobre la oferta o como llenar el contrato, podrá contactarme directamente por la dirección de correo electrónico o el teléfono de nuestra oficina, los aparecen en el pie de firma de este mensaje.</p>

<p>A modo de ejemplo le incluyo a continuación algunas sugerencias sobre los datos que debe completar en el formulario, para que pueda orientarse mejor:</p>
<ol>
    <li>En los Servicios “Otros” puede agregar servicios especiales que brinda su casa, por ejemplo: “clases de salsa, comidas al carbón, clases de español, etc.”</li>
    <li>La sección “Otros Datos” no es obligatoria; en esta podrá adicionar información importante sobre la ubicación de su casa por ejemplo: “a solo unos pocos metros de la Casa de la Música, o cerca del Parque Central, etc.”</li>
</ol>

<p>Muchas gracias por su comprensión. Para nuestra empresa será un placer ayudarle a promocionar su negocio en internet.</p>

Atentamente,<br/>
MyCasaParticular <br/><br/>

Correo: <a href="mailto:casa@mycasaparticular.com">casa@mycasaparticular.com</a><br/>
Teléfono: +53 7 8671111<br/>

{% endblock %}