{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">Bienvenido a MyCasaParticular</h4>
    <p style="font-family: Arial; font-size: 14px">
        <p>Estimado propietario(a):</p>
        <p>El equipo de MyCasaParticular.com pide disculpas por los errores en la información
        enviada recientemente acerca de nuestros nuevos servicios. Nuestro colectivo trabaja de
        manera constante en la creación de productos novedosos para mejorar y facilitar el
        trabajo con nuestros clientes. Este proceso puede generar algunos inconvenientes, por lo
        que rogamos su comprensión ante las molestias ocasionadas.</p>
        <p>Le anunciamos que próximamente usted recibirá de manera precisa todos los detalles
        relativos a las nuevas funcionalidades.</p>
        <p>Atentamente,</p>
        <p>Equipo de MyCasaParticular.com</p>
    </p>
{% endblock %}