{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">Bienvenido a MyCasaParticular</h4>
    <p style="font-family: Arial; font-size: 14px">
        <p>Estimado propietario(a):</p>
    <p>Hace unos días anunciábamos la puesta en marcha de dos recientes funcionalidades de nuestro sitio
        MyCasaParticular.com. El objetivo de estas novedades es mejorar la gestión de reservas y, con esto, optimizar la
        visibilidad de su alojamiento en nuestro portal web.</p>
    <p>A partir de ahora, nuestros usuarios podrán administrar de manera individual los datos fundamentales de su
        hospedaje, el estado de las reservas recibidas a través de nuestra página web, así como actualizar la
        disponibilidad de sus habitaciones para la renta.</p>
    <p>PRIMERO necesitará activar su cuenta a través de la siguiente dirección electrónica: </p>
        {% set activateLink = url('frontend_userCasa_activateAccount',{'token':secret_token,'locale':'es','_locale':'es'}) %}
        <a href="{{ activateLink|replace({'//es': '/es'}) }}">{{ activateLink|replace({'//es': '/es'}) }}</a></p>
    <p>Utilice como nombre de usuario el CÓDIGO de su alojamiento en el sitio (ej. CH7954), y cree su propia contraseña
        de acceso en el momento de la activación. Cada Código es único para cada usuario, y le permitirá acceder por
        igual a las dos opciones de administración de sus propiedades en nuestro sitio.</p>
    <p> Puede acceder a la administración web desde aquí:</p>
        {% set casaLoginLink = url('casa_login') %}
    <p><a href="{{ casaLoginLink|replace({'//casa': '/casa'}) }}">{{ casaLoginLink|replace({'//casa': '/casa'}) }}</a><br>
    <p>O puede descargar la aplicación móvil MyCasa Renta para dispositivos Android, que le permitirá, desde Internet o
        a través de una zona wifi, indicar y modificar las fechas en que su alojamiento estará disponible para nuevos
        clientes turistas:</p>
    <p><a href="https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid">https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid</a><br>
        Para consultar sus dudas, por favor, escríbanos a casa@mycasaparticular.com. Nuestra central de reservas también
        estará a su disposición a través del teléfono 7867 1111</p>
    <p>Saludos Cordiales,
    <p>Equipo de MyCasaParticular.com</p>
    </p>
{% endblock %}