<h4 style="font-family: Arial; font-size: 20px">{{"USER_ACCOUNT_ACTIVATION_EMAIL_REMINDER"|trans}}</h4>
<p style="font-family: arial; font-size: 14px">
    {{ "EMAIL_ACCOUNT_REGISTERED_TEXT"|trans }} <a href='{{ enableUrl }}'>{{ 'ENABLE_ACCOUNT'|trans }}</a>
</p>
