{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">Bienvenido a MyCasaParticular</h4>
    <p style="font-family: Arial; font-size: 14px">
        <p>Estimado Propietario(a):</p>
        <p>Le proponemos una gu&iacute;a para utilizar <b>MyCasa Renta</b> de manera r&aacute;pida y eficaz. Int&eacute;ntelo y ver&aacute; cuan f&aacute;cil es. De todos modos, seguimos bien cerca de usted a trav&eacute;s del tel&eacute;fono <b>78673574</b>. Cont&aacute;ctenos!</p>
        <p><b>PASO 1:</b> Encienda su tel&eacute;fono inteligente o Tablet. Aseg&uacute;rese de que contenga una versi&oacute;n Android 2.2 o superior. Con&eacute;ctese a internet y para descargar la aplicaci&oacute;n m&oacute;vil, acceda a cualquiera de las direcciones que a continuaci&oacute;n se enumeran: </p>
        <ol>
        <li><a href="https://www.mycasaparticular.com/es/apprenta">https://www.mycasaparticular.com/es/apprenta</a><br></li>
        <li><a href="https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid"> https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid</a></li>
        </ol>
        <p><b>PASO 2:</b> Active su cuenta de acceso a <b>MyCasa Renta</b> siguiendo las instrucciones enviadas a su correo electr&oacute;nico. Si no tiene esta informaci&oacute;n, solic&iacute;tela a <a href="mailto:info@mycasaparticular.com">info@mycasaparticular.com</a>. Presione el Link que aparece en el contenido del mensaje y active su cuenta. </p>
        <p><b>PASO 3:</b> En el formulario que aparece (Activar cuenta), introduzca una contrase&ntilde;a y conf&iacute;rmela. Revise los datos, modifique los que crea necesarios y guarde los cambios. </p>
        <p><b>PASO 4:</b> Presione el bot&oacute;n Ingresar en la pantalla de bienvenida. Coloque en la casilla de Usuario el c&oacute;digo de su casa, recibido por correo <b>(PASO 2)</b>. En la casilla Contrase&ntilde;a coloque la establecida por usted en el <b>PASO 3</b>. Pulse Ingresar. </p>
        <p><b>PASO 5:</b> Se&ntilde;ale la disponibilidad de sus habitaciones en color naranja. Para ello seleccione un rango de fechas disponibles en el calendario que se muestra. Presione el bot&oacute;n No Disponible. </p>
        <p><b>PASO 6:</b> Las reservas realizadas por nuestro equipo se mostrar&aacute;n en azul. Usted no las podr&aacute; alterar o eliminar.  </p>
        <p><b>PASO 7:</b> El calendario mostrar&aacute; el mes en curso, pero usted podr&aacute; deslizarse para ver los meses posteriores. Nunca los anteriores.</p>
        <p><b>PASO 8:</b> Una vez realizadas todas las modificaciones, presione el bot&oacute;n peque&ntilde;o de color verde, ubicado en la parte inferior derecha de la pantalla. Si est&aacute; conectado a Internet, sincronice sus datos con el servidor de MyCasaParticular.com. De lo contrario, los cambios se almacenar&aacute;n en su m&oacute;vil hasta que pueda conectarse. </p>
        <p>Con estas claves se hace muy f&aacute;cil gestionar <b>MyCasa Renta.</b> Nuestra idea es que usted pueda trabajar m&aacute;s c&oacute;modo y sin costo alguno.</p>
        <p>Atentamente,</p>
        <p>Equipo de MyCasaParticular.com</p>
    </p>
{% endblock %}