{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">¡Lo nuevo de MyCasaParticular!</h4>
    <p style="font-family: Arial; font-size: 14px">
        <p>Estimado Propietario(a):</p>
        <p>MyCasaParticular sigue creciendo y <b>queremos que usted se beneficie de ideas innovadoras</b>. Nuestro objetivo es brindarle un servicio de excelencia y, por ello, siempre pensamos en su bienestar.</p>
        <p>Hasta el momento, usted recibe una llamada telef&oacute;nica para recordarle la fecha de entrada de cada cliente turista.</p>
        <p>A partir de ma&ntilde;ana, usted recibir&aacute; <b>v&iacute;a SMS estos datos con cinco d&iacute;as de antelaci&oacute;n a la fecha de la reserva</b>. Por este medio se le enviar&aacute; la siguiente informaci&oacute;n:</p>
        <ol>
        <li>Nombre del cliente</li>
        <li>Fecha de entrada de la reserva</li>
        <li>Cantidad de noches</li>
        <li>Precio total a pagar en efectivo a la casa</li>
        </ol>
        <p>¡Bonus! No necesita solicitar este servicio, <b>MyCasaParticular lo pone a su disposici&oacute;n totalmente gratis</b>.</p>
        <p>Cualquier inquietud, estamos a su disposici&oacute;n a trav&eacute;s del 7867 1111 o puede escribirnos a <a href="mailto:contactenos@mycasaparticular.com">contactenos@mycasaparticular.com</a></p>
        <p><b>Si antes era f&aacute;cil, ahora ser&aacute; m&aacute;s c&oacute;modo…</b></p>
        <p>Atentamente,</p>
        <p>Equipo de MyCasaParticular.com</p>
    </p>
{% endblock %}