{% extends 'FrontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
<h4 style="font-family: Arial; font-size: 20px">{{"HELLO"|trans}}</h4>
<p style="font-family: Arial; font-size: 14px">{{ from }} {{ 'DO_YOU_WISH_TO_RECOMEND_TO_VISIT'|trans }} <a href="{{ url('frontend_welcome') }}">MyCasaParticular.com</a>.</p>
{% endblock %}

