{% extends 'frontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
    <b>Hola, {{from}} desea recomendarle que visite <a href="http://www.mycasaparticular.com">MyCasaParticular.com</a>
        , su primera dirección en Cuba.</b>
{% endblock %}