{% extends 'frontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
    Hola, {{from}} desea recomendarte un destino en mycasaparticular.com
<br>
<hr>
<div class="well">
<div class="row-fluid">
    <div class="span4"><img class="span12 img-polaroid" src="assets/img/house.jpg"></div>
    <div class="span8" style="margin-left: 10px">
        <table>
            <tr>
                <td>
                    <h4 class="title_1">Casa de Cándida</h4>
                    <p class="note">
                        Centro Habana - La Habana
                        <br/><b>Habitación Doble</b>
                        <br/><b>2</b> Adultos
                        <br/><b>0</b> Niños
                        <br/><b>Entrada:</b> 10/08/2013
                    </p>
                </td>
                <td>
                    <p class="note">
                        <b>ID Reserva:</b> CAS.29921
                        <br/>
                        <br/>
                        <span class="badge badge-warning">Disponible</span>
                    <h4>&euro; TOTAL: 340.00</h4>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2"><img src="assets/img/button_3.png"/></td>
            </tr>
        </table>
    </div>
</div>
</div>
{% endblock %}