<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        body{font-family: Arial}
    </style>
</head>
<body>
<h3>Fecha y hora</h3>
{% for reservation in reservations %}

{% endfor %}
</body>
</html>