{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}






{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Buen día amigo propietario,</p>
    <p>Velando por la seguridad y para mejorar nuestro servicio,</p>
    <p>hemos actualizado MyCasaRenta a una versión superior por lo que la  anterior está actualmente fuera de servicio.
    </p>
    <p><b>MyCasaParticular.com</b> no se detiene, al contrario, crecemos a diario gracias a tu buen oficio y a que eres un estupendo anfitri&oacute;n. Esa es la raz&oacute;n principal por la que los hu&eacute;spedes nos prefieren: porque siempre se marchan a gusto.</p>
    <p>Descarga la app en https://goo.gl/AAt7J4  para que pueda seguir disfrutando de este servicio gratis.</p>
     <p>Gracias por ser parte de nuestro equipo ¡siempre! </p>

    <p><b>Equipo de MyCasaParticular.com.</b></p>

{% endblock %}