<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:8.0pt;
            margin-left:0cm;
            line-height:107%;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoCaption, li.MsoCaption, div.MsoCaption
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:10.0pt;
            margin-left:0cm;
            font-size:9.0pt;
            font-family:"Calibri",sans-serif;
            color:#44546A;
            font-style:italic;}
        a:link, span.MsoHyperlink
        {color:#0563C1;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:#954F72;
            text-decoration:underline;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:8.0pt;
            margin-left:36.0pt;
            line-height:107%;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:0cm;
            margin-left:36.0pt;
            margin-bottom:.0001pt;
            line-height:107%;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:0cm;
            margin-left:36.0pt;
            margin-bottom:.0001pt;
            line-height:107%;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
        {margin-top:0cm;
            margin-right:0cm;
            margin-bottom:8.0pt;
            margin-left:36.0pt;
            line-height:107%;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;}
        .MsoChpDefault
        {font-family:"Calibri",sans-serif;}
        .MsoPapDefault
        {margin-bottom:8.0pt;
            line-height:107%;}
        @page WordSection1
        {size:612.0pt 792.0pt;
            margin:70.85pt 3.0cm 70.85pt 3.0cm;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0cm;}
        ul
        {margin-bottom:0cm;}
        -->
    </style>

</head>

<body lang=ES link="#0563C1" vlink="#954F72">

<div class=WordSection1>

    <p class=MsoNormal align=center style='margin-bottom:5.0pt;text-align:center;
page-break-after:avoid'><b><span lang=EN-US style='font-size:24.0pt;line-height:
107%'>Cero additional fee! </span></b></p>

    <p class=MsoNormal align=center style='margin-bottom:5.0pt;text-align:center;
page-break-after:avoid'><b><span lang=EN-US style='font-size:24.0pt;line-height:
107%'><img width=412 height=235 id="Picture 2"
           src="{{ mail_base_url~'/bundles/frontend/img/image001.png'}}"></span></b></p>

    <p class=MsoCaption align=center style='margin-bottom:5.0pt;text-align:center'><span
                lang=EN-US>Carnival in Havana</span></p>

    <p class=MsoNormal align=center style='margin-bottom:5.0pt;text-align:center;
page-break-after:avoid'><b><span lang=EN-US style='font-size:24.0pt;line-height:
107%'>Reservations <span style='color:red'>15% cheaper </span>until June 30th</span></b></p>

    <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%'>If
you book your accommodation before June 30th the price will be free of any
additional fee. Take the chance to choose your destination and make a more
economical trip.</span></p>

    <p class=MsoNormal><a lang=EN-US href="https://www.mycasaparticular.com" style='font-size:12.0pt;line-height:107%'>www.mycasaparticular.com</a></p>

    <p class=MsoNormal><b><span lang=EN-US style='font-size:14.0pt;line-height:
107%'>¿Do you like popular fiestas? </span></b></p>

    <p class=MsoNormal><span lang=EN-US>The Island is very well known by the Cuban
spirit, the rhythm and the human warmth. If you prefer popular festivities to
share with locals, July can give you some opportunities in Santiago de Cuba and
Havana. </span></p>

    <p class=MsoListParagraphCxSpFirst style='margin-left:58.5pt;text-indent:-13.5pt'><span
                style='font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span>The Festival del Caribe y la Fiesta del Fuego </p>

    <p class=MsoListParagraphCxSpMiddle style='margin-left:58.5pt;text-indent:-13.5pt'><span
                lang=EN-US style='font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US>Carnival in Santiago de Cuba </span></p>

    <p class=MsoListParagraphCxSpLast style='margin-left:58.5pt;text-indent:-13.5pt'><span
                lang=EN-US style='font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US>Carnival in Habana </span></p>

    <p class=MsoNormal><b><i><span lang=EN-US>Find the road that makes you feel
alive!</span></i></b></p>

    <p class=MsoNormal><span lang=EN-US>Kind Regards,</span></p>

    <p class=MsoNormal><span lang=EN-US><a href="https://www.mycasaparticular.com/"><span
                        style='color:windowtext;text-decoration:none'><img border=0 width=246
                                                                           height=46 src="{{ mail_base_url~'/bundles/frontend/img/image002.png'}}"></span></a></span></p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal><i>&nbsp;</i></p>

    <p class=MsoNormal align=center style='text-align:center'><b><span
                    style='font-size:16.0pt;line-height:107%'>&nbsp;</span></b></p>

</div>

</body>

</html>
