{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}






{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Buen día amigo propietario,
     Velando por la seguridad y para mejorar nuestro servicio,
     hemos actualizado MyCasaRenta a una versión superior por lo que la  anterior está actualmente fuera de servicio.
     Descarga la app en <a href="https://goo.gl/AAt7J4">https://goo.gl/AAt7J4</a>  para que pueda seguir disfrutando de este servicio gratis.
     Gracias por ser parte de nuestro equipo ¡siempre! </p>

    <p><b>Equipo de MyCasaParticular.com.</b></p>

{% endblock %}