{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Hola, {{ homeOwner }}:</p>
    <p>Eres un anfitrión de MyCasaParticular por lo que ya eres de los grandes. Si atraviesas un difícil momento puedes estar seguro que juntos lo superaremos.</p>
    <p>Sabemos que tienes mucho potencial y tus números indican que puedes mejorar en algunos aspectos. Sigue nuestros consejos para ser una <a href="https://www.mycasaparticular.com/mycasa/bestcasa">Best Casa</a> y tendrás la oportunidad de escalar posiciones en nuestro ranking, además de disfrutar las ventajas de ser un Anfitrión Estrella.</p>
    <p>Te mantenemos al tanto de cada avance que hagas. No te detengas, te lo recomendamos de <span style="font-size: 20px">&#x2661;</span></p>
    <p>Te mantenemos al tanto de cada avance que hagas. Verte escalar posiciones será estupendo. Cuenta con nosotros para lograrlo.</p>
    <p><b>Equipo de MyCasaParticular</b></p>


{% endblock %}