{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}






{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Estimados arrendadores, amigos y seguidores de MyCasaParticular.com,
        Desde hace exactamente 8 años nuestra plataforma MyCasaParticular salió en línea para brindar 
        a las casas particulares en Cuba un espacio en Internet donde promocionarse. Por entonces la 
        fiebre del emprendimiento y el cuentapropismo en Cuba era casi inexistente.
        Hasta el día de hoy el mercado turístico en el sector privado en Cuba ha dado cambios 
        muy grandes. El número de habitaciones y de casas se ha multiplicado de unas 4 mil casas a 
        más de 12 mil. El número de competidores directos o indirectos ha aumentado. Los restaurantes
        (paladares) constituyen también una competencia para el servicio gastronómico que brindan las
        casas particulares.</p>
        <p>
        Estos cambios significan un gran reto para todos. MyCasaParticular acepta este reto que el 
        mercado y los clientes nos proponen. Nuestra filosofía será adaptarnos a las nuevas condiciones
        y aplicar cambios en nuestros servicios que nos permitan mantenernos competitivos en el mercado,
        en una economía colaborativa donde todos ganen. 
        En primer lugar, nuestra intención es atraer más clientes a nuestra comunidad a fin de aumentar 
        las reservas. Modificaremos, además, los servicios que brindamos a los clientes turistas para 
        hacer el destino turístico Cuba más atractivo y asequible. 
        Creemos en el cambio como guía para el progreso y el desarrollo, y es lo que deseamos para 
        nuestros anfitriones. Pondremos toda nuestra energía y recursos en marcar nuevas pautas en el 
        mercado y realizar cambios innovadores en nuestros servicios.
        </p>
		<p>
        Nuestra propuesta es la siguiente: </br>
        Para los clientes turistas</br>
        -    Eliminar las tarifas de reserva</br>
        -    Proporcionar 30 días de garantía de reserva</br>
        -    Ofrecer solo alojamientos, anfitriones o actividades certificadas</br>
        -    Encriptar y asegurar más la información de nuestros clientes</br>
        </p>
		<p>
        Para los arrendadores o anfitriones c
        -    Eliminar el pago por inscripción online a nuestra plataforma</br>
        -    Eliminar la comisión</br>
        -    Insertar un nuevo modelo de tarifa de precios para las transacciones</br>
        -    Insertar nuevas formas de transferencia y pago al alojamiento (Efectivo en Mano y Transferencia bancaria dentro y fuera del país)</br>
        -    Aumentar los servicios que las casas ofrecen en nuestra plataforma.</br>
        </p>
        Estas metas las iremos cumpliendo paulatinamente en un plazo de 9 a 15 meses. Nuestro objetivo
        final es convertir MyCasaParticular en un mercado colaborativo turístico. 
        Nos gustaría también agradecerles por la atención, la energía, y la dedicación que ofrecen 
        cada día en su trabajo, todo lo cual es sin dudas la esencia y la vida de este mundo y el 
        principal motivo por el cual los clientes nos eligen. Estamos muy animados por andar por este 
        camino junto a clientes y colaboradores, y ayudarles a mantener y crecer estos principios y 
        valores que nos identifican. Sabemos que será un trabajo de mucha tenacidad y constancia y lo 
        haremos con mucha energía para ustedes.
        </p>
         </p>

    <p><b>¡Les deseamos un lindo día! ¡Éxitos y hasta pronto! </b></br></br>
     <img id="pedro" src="{{mail_base_url~'/bundles/frontend/img/pedro.jpg'}}"> </br>
     Pedro Torres</br>
     Fundador y CEO de MyCasaParticular</br>
     pedro.torres@mycasaparticular.com</br>
        
    </p>

{% endblock %}