{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Buen día amigo propietario,</p>
    <p>Nuestro equipo de MyCasaParticular.com siempre est&aacute; pensando en sus clientes, por eso somos una empresa en constante cambio y desarrollo.
        Como parte de esta estrategia, encaminada a brindarte un excelente servicio y buen trato, estamos acondicionando una nueva oficina muy cerquita de ti.
        MyCasaParticular.com no se detiene, al contrario, crecemos a diario gracias a tu buen oficio y a que eres un estupendo anfitri&oacute;n. Esa es la raz&oacute;n principal por la que los hu&eacute;spedes nos prefieren: porque siempre se marchan a gusto.
        Debido a los ajustes l&oacute;gicos de nuestro traslado para una oficina propia y &uacute;nica, tendremos que modificar los contactos de la empresa. Pero descuida, serás el primero(a) en saber.
        En breve, te comunicaremos a través del correo electr&oacute;nico la nueva oficina central de MyCasaParticular.com y toda la informaci&oacute;n que necesitas para contactarnos siempre que lo desees. Muy pronto, estaremos en disposici&oacute;n de atenderte ¡como mereces!
        De momento, seguimos al tanto de tus dudas y sugerencias a trav&eacute;s del n&uacute;mero 7864 45 02. No dudes en llamar.
        Gracias por ser parte de nuestro equipo ¡siempre! </p>

    <p>Saludos Cordiales,<br>Equipo de MyCasaParticular.com.</p>

{% endblock %}