{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Estimados propietarios de Trinidad:</p>
    <p>El Equipo de MyCasaParticular.com informa que actualmente contamos con un Asistente de Operaciones Locales (Local
        Operation Assistent) en la zona, quien ser&aacute; nuestro representante. Su nombre es Gonzalo Alfredo L&oacute;pez Turi&ntilde;o y podr&aacute;n
        contactarlo a trav&eacute;s de los m&oacute;viles: </p>
    <p><b>58071643</b> o <b>5992032</b></p>

    <p>Saludos Cordiales,<br>Equipo de MyCasaParticular.com.</p>

{% endblock %}