{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Estimados propietarios de Viñales:</p>
    <p>El Equipo de MyCasaParticular.com informa que actualmente contamos con un Asistente de Operaciones Locales (Local
        Operation Assistent) en la zona, quien será nuestro representante. Su nombre es Elieset Crespo Cuello y podrán
        contactarlo a través de los teléfonos: </p>
    <p>Casa- <b>48695200</b> o <b>48695215</b></p>
    <p>Móvil- <b>52559958</b></p>

    <p>Saludos Cordiales,<br>Equipo de MyCasaParticular.com.</p>

{% endblock %}