{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Buen día,</p>
    <p>Un cliente especial merece solo lo mejor. Pensar cada día en perfeccionar nuestra empresa tiene un objetivo fundamental: hacerte sentir estupendo al elegir nuestros servicios.</p>
    <p><b>MyCasaParticular.com </b>te es fiel, porque sabe lo mucho que vales. Por eso, cada día desarrollamos nuevas aplicaciones y ofertas increíbles.</p>
    <p>  Te garantizamos que nuestro portafolio de productos crece en tu beneficio.</p>
    <p>   Una de las creaciones más recientes del equipo de <b>MyCasaParticular.com</b> es la aplicación web Gestión de Propiedades. Una herramienta encaminada a facilitarte todos los procesos como propietario de una casa de renta.</p>
    <p>  Su funcionamiento es muy fácil. Solo tienes que acceder a tu alojamiento dentro de <b> MyCasaParticular.com</b> del mismo modo que lo has hecho hasta hoy.</p>
 <p>  ¡Sorpresa! Ahora no dependes de nosotros para editar tus datos ni la información de tus habitaciones. Puedes modificar las fotos y los detalles de tu propiedad siempre que quieras.</p>
    <p> Pasaron los tiempos en que debías notificarnos cualquier cambio en tus contactos. Hoy ya es posible que lo hagas por ti mismo con total autonomía. Te aseguro que lo disfrutarás.</p>
    <p> Hemos pensado cuánto te gustaría gestionar tu negocio a voluntad, y claro que lo mereces. De todas maneras, nos encanta poder ayudarte siempre que lo solicites. Ante la más mínima duda, contáctanos por el {{ mycasa_contact_cuba_phone }} o al correo casa@mycasaparticular.com</p>
    <p>  ¡Pruébalo ahora! Ya está disponible.
    <p>  Buena suerte</p>


    <p><b>Equipo de MyCasaParticular.com.</b></p>

{% endblock %}