{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block body %}
    <div id="wrapper">

        {% block nav %}
              {% include 'PartnerBundle:Layout:menu.html.twig' %}
        {% endblock nav %}

        <div id="page-wrapper" class="gray-bg">
            {% block content %}{% endblock content %}

        </div>
    </div>
{% endblock %}



