{% extends 'LayoutBundle:Layout:layout_partner.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <title>{% block title %}{{"pa_welcome_text" | trans | title}}{% endblock %} *** MyCasaPartner</title>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="row">
            {% block header %}
            {% endblock %}
        </div>

        {% block nav %}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">

                    <ul class="nav metismenu" id="side-menu">

                        {% block profile %}
                            {% include 'LayoutBundle:Layout:layout_profile.html.twig' %}
                        {% endblock profile %}
                        <li class="separator">

                        </li>
                        {% block menu %}
                            {% include 'PartnerBundle:Layout:menu.html.twig' %}
                        {% endblock menu %}

                    </ul>
                </div>
            </nav>
        {% endblock nav %}

        <div id="page-wrapper" class="white-bg">
            <div id="content_id" class="wrapper wrapper-content white-bg">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock %}
