<li class="active">
    <a href="index.html"><i class="glyphicons address_book menu-icon"></i>
        <span class="nav-label">Reservaciones</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in">
        <li><a class="glyphicons tags menu-icon" href="{{ path("my_casa_module_reservations") }}"><span>Reservas</span></a></li>
        <li><a class="glyphicons calendar menu-icon" href="dashboard_3.html"><span>Disponibilidad</span></a></li>
        <li><a class="glyphicons parents menu-icon" href="dashboard_4_1.html"><span>Clientes</span></a></li>
    </ul>
</li>
<li>
    <a href="layouts.html"><i class="glyphicons chat menu-icon"></i> <span class="nav-label">Opiniones</span></a>
</li>
<li class="">
    <a href="#"><i class="glyphicons home menu-icon"></i> <span class="nav-label">Propiedad</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse" style="height: 0px;">
        <li><a class="glyphicons home menu-icon" href="graph_flot.html"><span>Datos de su propiedad</span></a></li>
        <li><a class="glyphicons align_left menu-icon" href="{{ path('show_description') }}"><span>Descripción</span></a></li>
        <li><a class="glyphicons keys menu-icon" href="graph_rickshaw.html"><span>Habitaciones</span></a></li>
        <li><a class="glyphicons plus menu-icon" href="{{ path("show_facilities") }}"><span>Facilidades</span></a></li>
        <li><a class="glyphicons picture menu-icon" href="graph_peity.html"><span>Imágenes</span></a></li>
        <li><a class="glyphicons chat menu-icon" href="graph_sparkline.html"><span>Ver comentarios</span></a></li>
    </ul>
</li>
<li>
    <a href="layouts.html"><i class="glyphicons nameplate menu-icon"></i> <span class="nav-label">Perfil</span></a>
</li>