parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    #Database connection for remarketing
     #database_driver_remarketing:   pdo_mysql
     #database_host_remarketing:     127.0.0.1
     #database_port_remarketing:     ~
     #database_name_remarketing:     symfony
     #database_user_remarketing:     root
     #database_password_remarketing: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_user:       ~
    mailer_password:   ~

    router.request_context.host: www.mycasaparticular.com
    router.request_context.scheme: https
    router.request_context.base_url: /

    locale:            en
    secret:            7dsa7ydasdy872187yegwhqeg9yw91hjsaa00

    doctrine_cache_prefix: ~
    #MyCP facebook apps ids
    #fb_app_id: '718673204884189' #for http://localhost:8000 (local development)
    #fb_app_id: '718673678217475' #for http://develop.mycasaparticular.com (develop)
    fb_app_id: '718671738217669' #for http://mycasapaarticular.com (production)

    #MyCP tranlatos google api key
    translator_google_api_key: 'AIzaSyCmDojZzlVMZkNntKwDZeAS9VBoPJVYBFQ'

    nodejs_path: "/usr/bin/node"
    uglifyjs_path: "/usr/bin/uglifyjs"
    uglifycss_path: "/usr/bin/uglifycss"

    mailServer: "{imap.mail.hostpoint.ch:993/imap/ssl}INBOX"
    syncEmail: "pago@mycasaparticular.com"
    syncEmailPassword: "jC8Innjq"

    notification_service_url: "http://sms1.lvps92-51-151-239.dedicated.hosteurope.de"
    notification_service_api_key: "d806da61a499037f1b7b6321ff8c5fbb"
    notification_send_sms: 0
    notification_test_environment: 0
    notification_test_mobile: 0

    mycasa_contact_cuba_phone: (+53) 78673574
    sms_contact_phone: 78673574
    sms_contact_mobile: 58419821

