parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_user:       ~
    mailer_password:   ~

    router.request_context.host: www.mycasaparticular.com
    router.request_context.scheme: https
    router.request_context.base_url: /

    locale:            en
    secret:            7dsa7ydasdy872187yegwhqeg9yw91hjsaa00

    doctrine_cache_prefix: ~
    #MyCP facebook apps ids
    fb_app_id: '718673204884189' #for http://localhost:8000 (local development)
    #fb_app_id: '718673678217475' #for http://develop.mycasaparticular.com (develop)
    #fb_app_id: '718671738217669' #for http://mycasapaarticular.com (production)

