{% extends 'MyCpMobileFrontendBundle::base.html.twig' %}
{% block content %}
    {% block marquesina %}
        {{ include('MyCpMobileFrontendBundle:utils:marquesinamovile.html.twig') }}
    {% endblock %}
<div class="main main-raised">


    <div class="text-center caecilia-roman white f-s-16" style="background: #f4941c; color:white; font-size:20px">
        <i  style="width: 25px;height: 25px;color:#3C4858;" class="fa fa-star" alt="Pixel" ></i>
        {{ "TOP_HOUSES_HOME_TITLE" | trans }}

        <i  style="width: 25px;height: 25px;color:#3C4858;" class="fa fa-star" alt="Pixel" ></i>
    </div>
    <div class="profile-content">
        <div class="container" >
         {% include '@MyCpMobileFrontend/utils/topRated.html.twig' %}
         {{ render(controller('FrontEndBundle:Public:homeCarrousel')) }}
        </div>

    </div>




</div>






{% endblock %}

