{% extends dashboard ? 'MyCpCasaModuleBundle:Default:dashboard.html.twig': 'MyCpCasaModuleBundle::layout.html.twig' %}
    {% block content %}
        <div class="row-eq-height animated fadeInRight">
            <div class="col-md-9 col-xs-12 white-bg">
                <div class="col-sm-12"><h1 class="font-blue"><i class="glyphicons conversation font-blue"
                                                                style="margin-right: 10px;"></i><b>Consejos para
                            convertirse en el primero del ranking</b></h1>
                    <p>Best Casa es el premio que obtienen las mejores casas registradas en el sitio
                        MyCasaParticular.com</p>
                    <h3 class="font-green" style="margin: 0"><i class="glyphicons conversation font-blue"
                                                                style="margin-right: 10px;"></i><b>Consejos para
                            convertirte en el primero del ranking:</b></h3></div>
                <div class="col-sm-12"><h3 class="font-blue"><b>1. Actualice su disponibilidad periódicamente</b></h3>
                    <b>Si usted actualiza su calendario de disponibilidad periódicamente obtendrá los siguientes
                        beneficios:</b>
                    <ul>
                        <li>Recibirá 100 puntos adicionales para el ranking</li>
                        <li>Su casa tendrá un lugar priorizado en las búsquedas que realizan los turistas y aparecerá
                            entre los primeros alojamientos en la búsqueda por el filtro: “Calendario Actualizado”
                        </li>
                    </ul>
                    <p>Si usted actualiza su calendario una vez por semana obtendrá <b>60 puntos</b> adicionales al
                        ranking.</p>
                    <p>Actualice su calendario de disponibilidad y tendrá más puntos en el ranking, más visibilidad y
                        más reservas.</p><a href="#how-update-calendar">¿Cómo actualizar mi calendario de
                        disponibilidad?</a>
                </div>
                <div class="col-sm-12"><h3 class="font-blue"><b>2. Da prioridad a nuestros clientes</b></h3>
                    <p>Si priorizando nuestras solicitudes de disponibilidad podrá obtener hasta <b>100 puntos</b>
                        adicionales para el ranking.</p>
                    <p>Mientras más solicitudes disponibles no garanticen más puntos obtendrá y más cerca estará de ser
                        una Best Casa.</p></div>
                <div class="col-sm-12"><h3 class="font-blue"><b>3. Inclúyase en una de nuestras modalidades: Reserva
                            Inmediata o Reserva Rápida</b></h3>
                    <p>Las casas que mantienen su calendario actualizado y mantienen una buena trayectoria en
                        MyCasaParticular pueden optar por las modalidades: <b><i>Reserva Inmediata</i></b> o <b><i>Reserva
                                Rápida</i></b>, estas categorías les garantizará <b>50 puntos</b> adicionales para el
                        Ranking.</p>
                    <h3 class="font-green" style="margin: 0"><b>Reserva Inmediata</b></h3>
                    <p>Las casas que están en la modalidad Reserva Inmediata tienen que cumplir las siguientes
                        condiciones:</p>
                    <ul>
                        <li>Mantiene su calendario actualizado constantemente</li>
                        <li>Garantizar nuestras reservas una vez estas son confirmadas por el cliente</li>
                    </ul>
                    <i><b>Beneficios:</b></i>
                    <ul>
                        <li>El cliente las reserva al momento, sin necesidad de consultar la disponibilidad ni llamar al
                            propietario
                        </li>
                        <li>Los clientes la prefieren porque no esperan una respuesta y pueden reservar días más próximo
                            a la fecha actual
                        </li>
                        <li>La casa obtiene <b>50 puntos</b> adicionales en el Ranking</li>
                    </ul>
                    <a href="#convert-inmmediate-booking">¿Cómo convertirme en una casa de Reserva
                        Inmediata?</a><br><br>
                    <h3 class="font-green" style="margin: 0"><b>Reserva Rápida</b></h3>
                    <p>Las casas que están en la modalidad Reserva Inmediata tienen que cumplir las siguientes
                        condiciones:</p>
                    <ul>
                        <li>Actualizar su calendario periódicamente</li>
                        <li>Responder a nuestras solicitudes de disponibilidad en menos de 1 hora por cualquiera de las
                            2 vías disponibles.
                        </li>
                    </ul>
                    <i><b>Beneficios:</b></i>
                    <ul>
                        <li>El cliente espera menos tiempo para poder reservar su alojamiento que otro que no esté en
                            esta modalidad o en reserva inmediata.
                        </li>
                        <li>Los propietarios reciben un SMS cuando un turista solicita su casa</li>
                        <li>La casa obtiene <b>50 puntos</b> adicionales en el Ranking</li>
                    </ul>
                    <p>Los propietarios que están en esta modalidad reciben un SMS en su móvil cada por cada Solicitud
                        de Disponibilidad que los turistas realicen.</p>
                    <p>Su deber es informarnos si están disponibles o no disponibles en la fecha solicitada lo más
                        rápido posible, (en no más de una hora después que reciban el SMS).</p><i><b>¿Cómo responder a
                            una Solicitud de Disponibilidad?</b></i>
                    <ul>
                        <li>Llama al 8673574, 8610147 e infórmanos si su alojamiento está disponible o no disponible en
                            la fecha que especifica el mensaje recibido
                        </li>
                        <li>Utiliza nuestra App móvil MyCasa Renta 2.0 y responde a tu Solicitud de disponibilidad
                            (Notificación de Disponibilidad) utilizando la conexión wifi o enviando un SMS.
                        </li>
                    </ul>
                    <a href="#convert-fast-booking">¿Cómo convertirme en una casa de Reserva Rápida?</a><br><br></div>
                <div class="col-sm-12"><h3 class="font-blue"><b>4. Te damos puntos por tus reservas</b></h3>
                    <p>Por cada reserva que los turistas te confirmen además de ganar dinero ahora recibirás puntos
                        adicionales para el Ranking.</p>
                    <p>Podrás obtener hasta <b>75 puntos</b> adicionales si los clientes que te solicitan terminan
                        reservándote.</p><i><b>¿Cómo lograrlo...? Es simple:</b></i>
                    <ul>
                        <li>Sube fotos con calidad que resalten la belleza y comodidad de tu casa.</li>
                        <li>Trata bien a tus clientes para que los comentarios sobre ti como anfitrión y tu alojamiento
                            sean positivos.
                        </li>
                        <li>Mantén tu disponibilidad actualizada.</li>
                    </ul>
                    <br></div>
                <div class="col-sm-12"><h3 class="font-blue"><b>5. Trata bien a tus clientes y te damos más puntos</b>
                    </h3>
                    <p>Los turistas que reservan por MyCasaParticular soy muy exigentes, siempre leen los comentarios de
                        otros clientes para saber cómo es el servicio en la casa. Por eso te recomendamos que te esmeres
                        en el servicio al cliente y los invites a que realicen <b>comentarios positivos</b> en los
                        detalles de tu alojamiento en nuestro sitio. Con esto ahora no solo ganarás más prestigio sino
                        que además podrás acumular hasta <b>25 puntos</b> adicionales para el ranking.</p>
                    <p>Algo que debes saber, <a href="#comments-negative">los comentarios negativos te quitan
                            puntos.</a></p><br></div>
                <div class="col-sm-12"><h3 class="font-blue"><b>6. Mantente arriba todo el año y te damos más puntos</b>
                    </h3>
                    <p>Si te mantienes arriba en el ranking de MyCasaParticular y no pierdes la condición de Oro en el
                        acumulando de puntos mensuales, más de 360 puntos MyCasaParticular te regala ahora hasta <b>100
                            puntos</b> adicionales por ser un anfitrión de confianza.</p><br></div>
                <div class="col-sm-12"><h3 class="font-blue"><b>7. Si ganas más dinero también ganas más puntos</b></h3>
                    <p>Si eres de los muchos propietarios que tienen elevados ingresos por MyCasaParticular escucha
                        atento. Ahora te regalamos hasta <b>50 puntos</b> adicionales por tus altos ingresos. Mientras
                        más factures más puntos recibes, más arriba te ubicas en el ranking, más veces te reservan y
                        mucho más dinero recibirás.</p>
                    <p>¿Cómo comenzar? Es simple, si quieres recibir más sube el precio de tus habitaciones en nuestro
                        sitio y recibe a nuestros clientes por encima de los de otras agencias que son los que más
                        dinero te van a aportar.</p><br></div>
                <div class="col-sm-12"><h3 class="font-green" style="margin: 0"><b>Aspectos que te restan puntos y debes
                            conocer</b></h3><i id="comments-negative"><b>a) Los comentarios negativos quitan puntos del
                            ranking</b></i>
                    <p>Los turistas que reservan por MyCasaParticular confían en nosotros y sus comentarios cuentan. Si
                        un cliente sale insatisfecho de su alojamiento y comenta de forma negativa, la página contactará
                        al propietario para conocer también su versión y el motivo del problema, pero automáticamente
                        ese alojamiento perderá puntos en el ranking.</p>
                    <p>Si un usuario comenta sobre su alojamiento de forma negativa sin haber reservado por nosotros ese
                        comentario no va a afectar su puntuación ni será publicado.</p><i><b>b) Si un cliente te
                            solicita y no está disponible pierdes puntos</b></i>
                    <p>El equipo de MyCasaParticular.com te da múltiples opciones para que actualices tu calendario. Si
                        a pesar de esto, no mantienes tu calendario al día y un turista te solicita para una fecha en la
                        que estas disponible en nuestro calendario y al confirmarte tú no puedes recibirlo nuestra
                        empresa pierde a un cliente y tú perderás puntos por actualizar tu calendario.</p><i><b>c) Si te
                            reservan y cancela pierdes puntos</b></i>
                    <p>Nuestra prioridad siempre ha sido satisfacer a nuestros 2 grandes clientes. Los turistas que
                        quieren alojarse y los propietarios que quieres recibir huéspedes, para ellos trabajamos con
                        dedicación.</p>
                    <p>Si un turista reserva su alojamiento desde MyCasaParticular.com paga por adelantado un porciento
                        por nuestro servicio. Si usted como propietario cancela esa reserva nuestra empresa tiene que
                        desembolsar el dinero al turista. Estaríamos perdiendo dinero en la trasferencia y un cliente
                        potencial que atraemos hacia su casa y usted lo deja libre. Por los fallos usted pudiera perder
                        hasta 50 putos en el ranking.</p>
                    <p><i>No nos falle y nosotros no le fallaremos.</i></p><i><b>d) Si pasas tus clientes o comentes
                            alguna falta pierdes puntos</b></i>
                    <p>MyCsaParticular.com lleva más de 6 años en el sector y se ha ganado una reputación tanto dentro
                        como fuera del país. Cada año millones de turistas nos prefieren para viajar a Cuba por encima
                        de muchos de la competencia. Lo turistas confían y nosotros y nosotros confiamos en ustedes. Si
                        un propietario pasa sus reservas a otra casa, coloca fotos en nuestra página que no son de su
                        alojamiento o comete alguna otra acción que pueda dañar nuestra reputación para con los turistas
                        podrá ser penalizado con hasta 50 puntos y se le retirará el premios Best Casa en el mes si la
                        casa lo ostenta.</p>
                    <p><i>Mantenga una buena conducta y no perderá nada y si podrá ganar mucho.</i></p><br></div>
                <div class="col-sm-12" id="how-update-calendar"><h3 class="font-blue"><i
                                class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>¿Cómo
                            actualizar mi calendario de disponibilidad?</b></h3>
                    <p>Para actualizar su Calendario de Disponibilidad le ofrecemos 3 variante:</p>
                    <ul>
                        <li>Utilice nuestro módulo Casa: https://www.mycasaparticular.com/casa y actualice su calendario
                            conectado a la red.
                        </li>
                        <li>Utilice nuestra aplicación móvil MyCasa Renta 2.0 y actualice su calendario de
                            disponibilidad desde su móvil conectado a la red o enviando un SMS
                        </li>
                        <li>Llame al 8673574, 8610147 e infórmenos sobre su disponibilidad cada vez que esta cambie.
                            Nosotros actualicemos su calendario sin ningún costo adicional.
                        </li>
                    </ul>
                    <br></div>
                <div class="col-sm-12" id="convert-inmmediate-booking"><h3 class="font-blue"><i
                                class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>¿Cómo
                            convertirme en una casa de Reserva Inmediata?</b></h3>
                    <ul>
                        <li>Mantenga su calendario actualizado constantemente</li>
                        <li>Llámenos al teléfono 8673574 ò 8610147 y solicite incluirse.</li>
                    </ul>
                </div>
                <div class="col-sm-12" id="convert-fast-booking"><h3 class="font-blue"><i
                                class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>¿Cómo
                            convertirme en una casa de Reserva Rápida?</b></h3>
                    <ul>
                        <li>Actualice su calendario periódicamente</li>
                        <li>Llámenos al teléfono 8673574 ò 8610147 y solicite incluirse.</li>
                    </ul>
                    <br></div>
            </div>
            <div class="col-md-3 oneblue-bg col-content">
                <div class="col-sm-12 m-t-20">
                    <a target="_blank" href="{{ path("my_casa_module_manual_ranking_download") }}"
                       class="btn btn-danger"><i class="fa fa-download"></i> Descargar Guía en PDF</a>
                </div>
            </div>
        </div>
    {% endblock %}