{% extends dashboard ? 'MyCpCasaModuleBundle:Default:dashboard.html.twig': 'MyCpCasaModuleBundle::layout.html.twig' %}
    {% block content %}
        <div class="row-eq-height animated fadeInRight">
            <div class="col-md-9 col-xs-12 white-bg">
                <div class="col-sm-12">
                    <h1 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Premio Best Casa</b></h1>
                    <p>Best Casa es el premio que obtienen las mejores casas registradas en el sitio MyCasaParticular.com</p>
                    <p>Este premio se otorga en dos categorías: Mensual y Anual</p>
                    <h3 class="font-green" style="margin: 0"><b>Best Casa Mensual:</b></h3>
                    <p>Este premio se otorga el primer día de cada mes a las casas que en los últimos 3 meses acumulan más de 360 puntos para el ranking. Es decir han sido Anfitriones Oro 3 meses consecutivos.</p>
                    <b>Beneficios:</b>
                        <br>
                        <ul>
                            <li>Estas casas serán priorizadas en la búsqueda y tendrán una mayor visibilidad en MyCasaParticular.com</li>
                            <li>Portarán el sello Best Casa (icono sin el año) que les indica a los turista que es una casa recomendada por MyCasaParticular.com</li>
                            <li>Será recomendada a los turistas que desean viajar a su destino y no reciben disponibilidad</li>
                        </ul>
                    <b>Perdurabilidad</b>
                    <ul>
                        <li>Este premio es válido hasta el último día del mes en el cual se obtiene.</li>
                        <li>Pude ser retirado antes si la casa tiene algún fallo o es penalizada por alguna falta cometida.</li>
                        <li>Se puede obtener el mes próximo mes si la casa mantiene los indicadores de calidad exigidos.</li>
                    </ul>

                    <h3 class="font-green" style="margin: 0"><b>Best Casa Anual:</b></h3>
                    <p>Este es un reconocimiento al trabajo continuo y esmerado de los propietarios en todo un año. Se entrega a finales de año a las casas que han acumulado en el año más de 4320 puntos.</p>
                    <b>Beneficios:</b>
                    <br>
                    <ul>
                        <li>Este premio será siempre visible en los detalles de la casa y no podrá ser retirado aunque la casa sea penalizada o baje de categoría en el futuro</li>
                        <li>La casa portará todos los sellos Best Casa anual (icono con el año) que haya recibido como muestra de sus buenos resultados</li>
                        <li>Las casas que obtengan esta categoría serán reconocidas y estimuladas por el equipo MyCasaParticular.</li>
                    </ul>
                    <b>Perdurabilidad</b>
                    <ul>
                        <li>De por vida.</li>
                        <li>Acumulativo. </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Si usted desea convertirse en una Best Casa siga nuestras recomendaciones.</b></h3>
                    <b>Recomendaciones para ser una Best Casa:</b>
                    <ul>
                        <li>Actualice su disponibilidad diariamente</li>
                        <li>Danos tu disponibilidad</li>
                        <li>Inclúyete en una de nuestras modalidades: Reserva Inmediata y Reserva Rápida</li>
                        <li>Te damos puntos por tus reservas. Haz que te reserven!!!</li>
                        <li>Trata bien a tus clientes y te damos puntos</li>
                        <li>Mantente arriba todo el año y te damos más puntos</li>
                        <li>Si te falla un cliente te podemos compensar con puntos</li>
                        <li>Si ganas más dinero también ganas más puntos</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Aspectos que te restan puntos y debes conocer</b></h3>
                    <ul>
                        <li>Los comentarios negativos te quitan puntos</li>
                        <li>Si un cliente te solicita y no estas disponible pierdes puntos</li>
                        <li>Si te reservan y cancelas pierdes puntos</li>
                        <li>Si pasas tus cliente o comentes alguna falta pierdes puntos</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Actualice su disponibilidad diariamente</b></h3>
                    <h3 class="font-green" style="margin: 0"><b>Si usted actualiza su calendario de disponibilidad diariamente obtendrá los siguientes beneficios:</b></h3>
                    <ul>
                        <li>Recibirá 100 puntos adicionales para el ranking</li>
                        <li>Su casa tendrá un lugar priorizado en las búsquedas que realizan los turistas y  aparecerá entre los primeros alojamientos en la búsqueda por el filtro:  “Calendario Actualizado”</li>
                        <li>Los turistas solicitarán las casas que tengan su disponibilidad actualizada</li>
                    </ul>
                    <h3 class="font-green" style="margin: 0"><b>Si usted actualiza su calendario una vez por semana obtendrá 60 puntos adicionales al ranking</b></h3>
                    <br>
                    <h3 class="font-green" style="margin: 0"><b>Actualice su calendario de disponibilidad y tendrá más puntos al ranking, más visibilidad y más reservas</b></h3>
                    <br>
                    <h3 class="font-green" style="margin: 0"><b>¿Cómo actualizar mi calendario de disponibilidad?</b></h3>
                    <b>Para actualizar su Calendario de Disponibilidad le ofrecemos 3 variante:</b>
                    <ul>
                        <li>Utilice nuestro módulo Propietario: <a href="https://www.mycasaparticular.com/casa">https://www.mycasaparticular.com/casa</a>  y actualice su calendario conectado a la red.</li>
                        <li>Utilice nuestra aplicación móvil  MyCasa Renta (disponible para Android)  y actualice su calendario de disponibilidad desde su móvil conectado a la red o enviando un SMS.</li>
                        <li>Llame al 8673574 ó 8610147 e infórmenos sobre sus disponibilidad cada vez que esta cambie para que nosotros actualicemos su calendario sin ningún costo adicional.</li>
                        <li>Cada vez que tenga una afectación contáctenos.</li>
                    </ul>
                    <h3 class="font-green" style="margin: 0"><b>Danos tu disponibilidad</b></h3>
                    <p>Su usted es uno de los muchos propietarios que prioriza nuestras solicitudes de disponibilidad por encima de las demás agencias podrá obtener  hasta 100 puntos adicionales para el ranking.</p>
                    <i><b>Mientras más solicitudes disponibles nos garanticen más puntos obtendrá para el ranking  y más cerca estará de ser una Best Casa.</b></i>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Inclúyase en una de nuestras modalidades: Reserva Inmediata y Reserva Rápida</b></h3>
                    <p>Las casas que mantienen su calendario actualizado y tiene una buena trayectoria en MyCasaParticular pueden optar por las modalidades: Reserva Inmediata o Reserva Rápida, esto le garantizará 50 puntos adicionales para el Ranking</p>
                    <h3 class="font-green" style="margin: 0"><b>Reserva Inmediata</b></h3>
                    <ul>
                        <li>Casas que mantiene su calendario de disponibilidad actualizado constantemente.</li>
                        <li>“El cliente las reserva al momento si están disponibles, sin necesidad de solicitar disponibilidad”</li>
                    </ul>
                    <b>¿Cómo   convertirme en una casa de Reserva Inmediata?</b>
                    <ul>
                        <li>Mantenga su calendario actualizado constantemente.</li>
                        <li>Llámenos al teléfono 8673574 ò 8610147 y solicite incluirse.</li>
                    </ul>
                    <h3 class="font-green" style="margin: 0"><b>Reserva Rápida</b></h3>
                    <ul>
                        <li>Casas que responden a las solicitudes de disponibilidad en menos de 1 h </li>
                        <li>El cliente las puede reservar con una mayor rapidez</li>
                    </ul>
                    <b>¿Cómo me convierto en una casa de Reserva Inmediata?</b>
                    <br>
                    Tienes solo una condición que cumplir:
                    <br>
                    "Responder a nuestras Solicitudes de Disponibilidad en menos de una hora”
                    <p>Los propietarios que están en esta modalidad reciben un SMS en su móvil cada por cada Solicitud de Disponibilidad que los turistas realicen. Su deber es informarnos si están disponibles o no disponibles  en la fecha solicitada lo más rápido posible, (en no más de una hora después que reciban el SMS).</p>
                    <b>¿Cómo lo lograrlo?</b>
                    <ul>
                        <li>Llamando al 8673574 ó 8610147.  Y comunícanos su disponibilidad.</li>
                        <li>Mediante nuestra App móvil  MyCasa Renta debe responder a la Notificación de Disponibilidad. Ahora sin la necesidad de estar conectado a la wifi.</li>
                    </ul>

                    <b>¿Si instaló la App móvil  MyCasa Renta tengo que ir a un punto wifi para conectarme?</b>
                    <p>No. Con MyCasa Reta 2.0 instalada en un móvil los propietarios de MyCasa Particular podrán ahora actualizar su disponibilidad también mediante un SMS. Además si eres un Alojamiento de Reserva Rápida recibirás una Notificaciones de Disponibilidad  y podrás responder si están disponibles o no disponibles mediante el envío de un SMS. Todo esto y mucho más si salir de su casa y con un gasto mínimo.</p>

                    <i><b>Nota General:</b></i>
                    <i>La casa que está incluidas en una de estas modalidades deben cumplir con nuestras condiciones o de lo contrario serán excluidas de estos servicios que son los que más atraen a los turistas.</i>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Te damos puntos por tus reservas</b></h3>
                    <p>Por cada reserva que los turistas te confirmen además de ganar dinero ahora recibirás puntos  adicionales para el Ranking.</p>
                    <p>Podrás obtener hasta 75 puntos adicionales si los clientes que te solicitan terminan reservándote.</p>
                    <h3 class="font-green" style="margin: 0"><b>¿Cómo lo lograrlo?</b></h3>
                    <br>
                    <b>Es simple:</b>
                    <ul>
                        <li>Sube fotos bonitas de tu casa y con buena calidad para que muchos turistas te soliciten.</li>
                        <li>Trata bien a tus clientes para que te comenten positivo. “Todos sabrán  lo bueno que eres y se decidirán  más clientes por ti.</li>
                        <li>Danos rápido tu disponibilidad para que el cliente no espere por ti y pague al momento.</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Trata bien a tus clientes y te damos más puntos</b></h3>
                    <p>Los turistas que reservan por MyCasaParticular soy muy  exigentes, siempre leen los comentarios de otros clientes para saber cómo es el servicio en la casa. Por eso te recomendamos que te esmeres en el servicio al cliente y los invites a que realicen comentarios positivos en los detalles de tu alojamiento en nuestro sitio. Con esto no solo ganarás más prestigio sino que ahora además podrás acumular hasta 25 puntos  adicionales para el ranking.</p>
                    <i>Algo que debes saber,  <b>Los comentarios negativos te quitan puntos.</b></i>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Si te falla un cliente te podemos compensar con puntos</b></h3>
                    <p>Somos conscientes que para un propietario el fallo de un cliente es irremediable, se pierde un ingreso y hasta una inversión en comida y otros gastos adicionales para su atención.</p>
                    <b>Ahora el equipo de MyCasaParticular te recompensa con puntos adicionales para el Ranking cada vez que un cliente te falle:</b>
                    <br>
                    <ul>
                        <li>Un fallo 10 puntos</li>
                        <li>Dos fallos 30 puntos</li>
                        <li>3 fallos 50 puntos</li>
                    </ul>
                    <p>Solo debes llamar, comunicarnos del fallo y actualizar tu disponibilidad en los teléfonos: 8673574 ó 8610147.</p>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Mantente arriba todo el año y te damos más puntos</b></h3>
                    <p>Si te mantienes arriba en el ranking de MyCasaParticular  y no pierdes la condición de  Oro en el acumulando de puntos mensuales, más de 360 puntos MyCasaParticular te regala ahora hasta 100 puntos adicionales por ser un anfitrión de confianza.</p>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Si ganas más dinero también ganas más puntos</b></h3>
                    <p>Si eres de los muchos propietarios que tienen elevados ingresos por MyCasaParticular escucha atento. Ahora te regalamos hasta 50 puntos adicionales por tus altos ingresos.  Mientras más factures más puntos recibes, más arriba te ubicas en el ranking, más veces te reservan y mucho más dinero recibirás.</p>
                    <b>¿Cómo comenzar?</b>
                    <p>Es simple, si quieres recibir más sube el precio de tus habitaciones en nuestro sitio y recibe a nuestros clientes por encima de los de otras agencias que son los que más dinero te van a aportar.</p>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Los comentarios negativos te quitan puntos</b></h3>
                    <p>Los turistas que reservan por MyCasaParticular confían en nosotros y sus comentarios cuentan. Si un cliente sale insatisfechos de su alojamiento y comenta de forma negativa en el sitio su alojamiento perderá puntos en el ranking. Solo si en realidad fue cliente suyo. Si un usuario comenta sobre su alojamiento de forma negativa sin haber reservado por nosotros ese comentario no va a afectar su puntuación ni será publicado.</p>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Si un cliente te solicita y no estas disponible pierdes puntos</b></h3>
                    <p>El equipo de MyCasaParticular.com te da múltiples opciones para que actualices tu calendario. Si a pesar de esto, no mantienes tu calendario al día y un turista te solicita  para una fecha en la  que estas disponible en nuestro calendario y al confirmarte tú no puedes recibirlo nuestra empresa pierde a un cliente y tú perderás puntos por actualizar tu calendario.</p>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Si te reservan y cancelas pierdes puntos</b></h3>
                    <p>Nuestra prioridad siempre ha sido satisfacer a nuestros 2 grandes clientes. Los turistas que quieren alojarse y los propietarios que quieres recibir huéspedes, para ellos trabajamos con dedicación. Si un turista reserva su alojamiento desde MyCasaParticular.com paga por adelantado un porciento por nuestro servicio. Si usted como propietario cancela esa reserva nuestra empresa tiene que desembolsar el dinero al turista. Estaríamos perdiendo dinero en la trasferencia y un cliente potencial que atraemos hacia su casa y usted lo deja libre. Por los fallos usted pudiera perder hasta 50 putos en el ranking.</p>
                    <i class="font-green"><b>No nos falle y nosotros no le fallaremos.</b></i>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12">
                    <h3 class="font-blue"><i class="glyphicons conversation font-blue" style="margin-right: 10px;"></i><b>Si pasas tus cliente o comentes alguna falta pierdes puntos</b></h3>
                    <p>MyCasaParticular.com lleva más de 6 años en el sector y se ha ganado una reputación tanto dentro como fuera del país. Cada año millones de turistas nos prefieren para viajar a Cuba por encima de muchos de la competencia. Lo turistas confían y nosotros y nosotros confiamos en ustedes. Si un propietario pasa sus reservas a otra casa, coloca fotos en nuestra página que no son de su alojamiento o comete alguna otra acción que pueda dañar nuestra reputación para con los turistas podrá ser penalizado con hasta 50 puntos y se le retirará el premios Best Casa en el mes si la casa lo ostenta.</p>
                    <i class="font-green"><b>Mantenga una buena conducta y no perderá nada y si podrá ganar mucho.</b></i>
                </div>
            </div>
            <div class="col-md-3 oneblue-bg col-content">
                <div class="col-sm-12 m-t-20">
                    <a target="_blank" href="#" class="btn btn-danger"><i class="fa fa-download"></i> Descargar Guía en PDF</a>
                </div>
            </div>
        </div>
    {% endblock %}