        <div class="row row-eq-height">
            <div class="col-md-9 white-bg">
                <h2 class="font-blue">¡Publique su oferta en solo 6 pasos más!</h2>
                <ol class="owner-list" style="margin-left: -40px">
                    <li>Complete los datos de su propiedad</li>
                    <li>Describa su alojamiento de manera sencilla y breve</li>
                    <li>Detalle las características de sus habitaciones</li>
                    <li>Seleccione las comodidades para su oferta</li>
                    <li>Suba las fotos que desea</li>
                    <li>Ingrese otros datos de propietario</li>
                </ol>
                <div >
                    <button class="btn btn-default  dim " type="button"> Continuar después</button>
                    <button type="button" class="btn btn-primary dim" id="btn-start">Comenzar</button>
                    {#<a class="btn btn-default" style="margin-left:40px; margin-right: 20px;">Continuar después</a>
                    <a class="btn btn-success" id="btn-start">Comenzar</a>#}
                </div>
                <div class="bg-gray m-t-20 m-b-20 p-20">
                    <h3 class="font-blue">¿Desea un servicio de calidad?</h3>
                    <p class="font-blue">Podemos hacerlo por ud. MyCasaParticular.com le ofrece la asistencia profesional para rellenado de formulario, inscripción, tradución y fotografía. No lo piense más, solicítelo!</p>
                    <button type="button" class="btn btn-warning  dim">Solicitar</button>
                </div>
                <br><br>
            </div>
            <div class="col-md-3 oneblue-bg">
                <h3 class="m-t-20">Por favor</h3>
                <p>evite el uso de palabras ofensivas, la promoción de otros sitios, así como URls de enlaces externos, de lo contrario su propiedad no sera publicada!!!</p>
            </div>
        </div>