<div class="row row-eq-height">
    <div class="col-md-9 white-bg">
        <div class="row">
            <div class="col-sm-1">
                <img src="{{ asset('bundles/mycpcasamodule/img/Descripcion.png') }}" class="img-title-step m-t-25">
            </div>
            <div class="col-sm-11">
                <h2 class="font-blue">Paso 2</h2>
                <h3 class="font-blue">Describa su casa de renta de manera sencilla y breve</h3>
            </div>
        </div>
        <div class="bg-gray m-t-20 col-md-11 font-black">
            <div class="form-group">
                <label for="comment">Explique a los huéspedes cómo es su espacio:<br> luminoso, ventilado, acogedor, amplio… </label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Por favor evite el uso de palabras ofensivas, la promoción de otros sitios; así como URL´s de enlacen externos; de lo contrario su propiedad no será publicada."></textarea>
            </div>
            <div class="form-group">
                <label for="comment">Explique a los huéspedes cómo es su espacio:<br> luminoso, ventilado, acogedor, amplio… </label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Por favor evite el uso de palabras ofensivas, la promoción de otros sitios; así como URL´s de enlacen externos; de lo contrario su propiedad no será publicada."></textarea>
            </div>
            <div class="form-group">
                <label for="comment">Explique a los huéspedes cómo es su espacio:<br> luminoso, ventilado, acogedor, amplio… </label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Por favor evite el uso de palabras ofensivas, la promoción de otros sitios; así como URL´s de enlacen externos; de lo contrario su propiedad no será publicada."></textarea>
            </div>
            <div class="form-group">
                <label for="comment">Explique a los huéspedes cómo es su espacio:<br> luminoso, ventilado, acogedor, amplio… </label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Por favor evite el uso de palabras ofensivas, la promoción de otros sitios; así como URL´s de enlacen externos; de lo contrario su propiedad no será publicada."></textarea>
            </div>
        </div>

    </div>
    <div class="col-md-3 oneblue-bg col-content">
        <div id="help-step2-one" class="row">
            <div class="col-md-12 m-t-20">
                <p>ingrese de manera clara la dirección de su alojamiento. Así proporcionamos al visitante referencias geográficas especificas</p>
            </div>
        </div>
        <div id="help-step2-two" class="row">
            <div class="col-md-12 m-t-40">
                <p>especifique el destino turístico al cual pertenece su alojamiento</p>
            </div>
        </div>
        <div id="help-step2-three" class="row">
            <div class="col-md-12 m-t-40">
                <p>usted puede ubicar su alojamiento en el mapa, o simplemente poner su dirección y el mapa le dará la opción de verificar sus datos. Haga más fácil para el cliente encontrar su alojamiento)</p>
            </div>
        </div>
        <div id="help-step2-four" class="row">
            <div class="col-md-12 m-t-40">
                <p>especifique cuales son los idiomas que domina, a través de los cuales usted y su personal se pueden comunicar con el cliente</p>
            </div>
        </div>

    </div>
</div>