<div class="row row-eq-height">
    <div class="col-md-9 white-bg">
        <div class="row">
            <div class="col-sm-1">
                <img src="{{ asset('bundles/mycpcasamodule/img/Facilidades.png') }}" class="img-title-step m-t-25">
            </div>
            <div class="col-sm-11">
                <h2 class="font-blue">Paso 4</h2>
                <h3 class="font-blue">Seleccione las comodidades para su oferta</h3>
            </div>
        </div>
        <div class="bg-gray m-t-20 col-md-11 font-black">

        </div>

    </div>
    <div class="col-md-3 oneblue-bg col-content">

    </div>
</div>