<div class="row row-eq-height">
    <div class="col-md-9 white-bg">
        <div class="row">
            <div class="col-sm-1">
                <img src="{{ asset('bundles/mycpcasamodule/img/usuario.png') }}" class="img-title-step m-t-25">
            </div>
            <div class="col-sm-11">
                <h2 class="font-blue">Paso 6</h2>
                <h3 class="font-blue"> Ingrese otros datos de los propietarios </h3>
            </div>
        </div>
        <div class="bg-gray m-t-20 col-md-11 font-black">

        </div>

    </div>
    <div class="col-md-3 oneblue-bg col-content">
        <div id="help-step6-one" class="row">
            <div class="col-md-12 m-t-20">
                <p>Por favor es necesario ingresar al menos una foto, de 50 permitidas. Trate de que sus imágenes tengan buena calidad, pero que no excedan el tamaño máximo de 1 megabyte. Se recomienda una resolución mayor de 640x480 píxeles. Para un mejor funcionamiento, suba imágenes tomadas horizontalmente. Verifique que no muestren teléfonos, logos, marcas de agua, o señales de edición. Recuerde que las personas hacen más énfasis en las propuestas que contienen varias fotografías.  </p>
            </div>
        </div>
    </div>
</div>