<div class="row row-eq-height">
    <div class="col-md-9 white-bg">
        <div class="row">
            <div class="col-sm-1">
                <img src="{{ asset('bundles/mycpcasamodule/img/Facilidades.png') }}" class="img-title-step m-t-25">
            </div>
            <div class="col-sm-11">
                <h2 class="font-blue">Paso 4</h2>
                <h3 class="font-blue">Seleccione las comodidades para su oferta</h3>
            </div>
        </div>
        <div class="bg-gray m-t-20 col-md-11 font-black">
            <div class="row">
                <div>
                    <i class="glyphicons coffee_cup step-form-icon"></i>
                    <label class="control-label">Desayuno incluido</label>
                    <input type="checkbox" class="js-switch" name="breakfast" id="breakfast"/>
                </div>
                <div>
                    <i class="glyphicons cutlery step-form-icon"></i>
                    <label class="control-label">Cena</label>
                    <input type="checkbox" class="js-switch" name="dinner" id="dinner"/>
                </div>
                <div>
                    <i class="glyphicons car step-form-icon"></i>
                    <label class="control-label">Parqueo incluido</label>
                    <input type="checkbox" class="js-switch" name="parking" id="parking"/>
                </div>
                <div>
                    <i class="icon-services jacuzee-icon step-form-icon"></i>
                    <label class="control-label">Jacuzzi</label>
                    <input type="checkbox" class="js-switch" name="jacuzzy" id="jacuzzy"/>
                </div>

                <div>
                    <i class="icon-services sauna-icon step-form-icon"></i>
                    <label class="control-label">Sauna</label>
                    <input type="checkbox" class="js-switch" name="sauna" id="sauna"/>
                </div>

                <div>
                    <i class="glyphicons pool step-form-icon"></i>
                    <label class="control-label">Piscina</label>
                    <input type="checkbox" class="js-switch" name="pool" id="pool"/>
                </div>
                <div>
                    <i class="glyphicons bicycle step-form-icon"></i>
                    <label class="control-label">Parqueo de ciclos</label>
                    <input type="checkbox" class="js-switch" name="parking_bike" id="parking_bike"/>
                </div>
                <div>
                    <i class="glyphicons dog step-form-icon"></i>
                    <label class="control-label">Mascotas</label>
                    <input type="checkbox" class="js-switch" name="pet" id="pet"/>
                </div>
                <div>
                    <i class="glyphicons coat_hanger step-form-icon"></i>
                    <label class="control-label">Lavandería</label>
                    <input type="checkbox" class="js-switch" name="laundry" id="laundry"/>
                </div>
                <div>
                    <i class="glyphicons envelope step-form-icon"></i>
                    <label class="control-label">Email (Internet)</label>
                    <input type="checkbox" class="js-switch" name="email" id="email"/>
                </div>


            </div>
        </div>

    </div>
    <div class="col-md-3 oneblue-bg col-content">

    </div>
</div>