<div class="row row-eq-height">
    <div class="col-md-9 white-bg">
        <div class="row">
            <div class="col-sm-1">
                <img src="{{ asset('bundles/mycpcasamodule/img/Descripcion.png') }}" class="img-title-step m-t-25">
            </div>
            <div class="col-sm-11">
                <h2 class="font-blue">Paso 2</h2>
                <h3 class="font-blue">Describa su casa de renta de manera sencilla y breve</h3>
            </div>
        </div>
        <div class="bg-gray m-t-20 col-md-11 font-black">
            {% if ownership.OwnDescriptionLangs | length %}
                    {% include 'MyCpCasaModuleBundle:form:short_form3.html.twig' with {ownDescriptionLang:ownership.OwnDescriptionLangs | first} %}
                {% else %}
                    {% include 'MyCpCasaModuleBundle:form:long_form3.html.twig'%}
            {% endif %}
        </div>

    </div>
    <div class="col-md-3 oneblue-bg col-content">
        <div id="help-step3-one" class="row">
            <div class="col-md-12 m-t-20">
                <p>Mientras más sencilla sea su descripción mejor, recuerde que no siempre los futuros huéspedes comprenden el español. Escriba de manera simple y lineal, para que las traducciones conserven la esencia de su texto</p>
            </div>
        </div>
        <div id="help-step3-two" class="row">
            <div class="col-md-12 m-t-40">
                <p>Puede apoyarse en estas descripciones de los destinos para enriquecer la suya.</p>
            </div>
        </div>
    </div>
</div>