<div class="col-md-12" id="content-wizard">
    <div class="row row-eq-height">
        <div class="col-md-12 white-bg">
            <div id="rootwizard">
                <div class="navbar" id="steps">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul>
                                <li><a href="#tab1" data-toggle="tab">First</a></li>
                                <li><a href="#tab2" data-toggle="tab">Second</a></li>
                                <li><a href="#tab3" data-toggle="tab">Third</a></li>
                                <li><a href="#tab4" data-toggle="tab">Fourth</a></li>
                                <li><a href="#tab5" data-toggle="tab">Fifth</a></li>
                                <li><a href="#tab6" data-toggle="tab">Sixth</a></li>
                                <li><a href="#tab7" data-toggle="tab">Seventh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        {% include 'MyCpCasaModuleBundle:Steps:step1.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab2">
                        {% include 'MyCpCasaModuleBundle:Steps:step2.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab3">
                        3
                    </div>
                    <div class="tab-pane" id="tab4">
                        4
                    </div>
                    <div class="tab-pane" id="tab5">
                        5
                    </div>
                    <div class="tab-pane" id="tab6">
                        6
                    </div>
                    <div class="tab-pane" id="tab7">
                        7
                    </div>
                    <ul class="pager wizard col-md-9 mcp-pager hide">
                        <li><a class="btn btn-orange">Continuar despues</a></li>
                        <li class="previous"><a class="btn btn-default" href="#">Anterior</a></li></li>
                        <li class="next"><a class="btn btn-success" href="#">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row hide" id="text-save">
        <div class="col-md-9 text-center">
            <p>sus datos se guardaran<br>en caso de que usted quiera seguir mas adelante</p>
        </div>
    </div>
</div>
