{% extends 'LayoutBundle:Layout:layout_partner_base.html.twig' %}
{% block body_class %}pace-running{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
           {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock body %}
