{%if owns_nearby | length%}
<div class="row-fluid result_list ownerships_list" id="div_result">
    {{ include('frontEndBundle:ownership:ownershipArrayItemList.html.twig',
         {'list': owns_nearby,
          'list_preffix' : 'own_nearby',
          'is_in_favorites_list': false
          }) 
    }}      
</div>
{%if total_items > items_per_page%}
        <div class="text-center">
              {{ simple_paginator_render('frontend_details_destination',null,{
    'container_class': 'pagination',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': {'destination_name': destination_name}
}) }}
{%endif%}
{%endif%}