{%if owns_nearby | length%}
<div class="row-fluid result_list ownerships_list" id="div_result">
    {{ include('frontEndBundle:ownership:ownershipArrayItemList.html.twig',
         {'list': owns_nearby,
          'list_preffix' : 'own_nearby',
          'is_in_favorites_list': false
          }) 
    }}      
</div>
<div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
{%endif%}