<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Lorem Ipsum is simply dummy text of the printing.</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Lorem Ipsum is simply dummy text of the printing.</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
</div>