<div class="navbar-wrapper">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">Logo</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#page-top" class="page-scroll">Como Funciona</a></li>
                    <li class=""><a href="#features" class="page-scroll">Features</a></li>
                    <li><a href="#team" class="page-scroll">Team</a></li>
                    <li><a href="#testimonials" class="page-scroll">Inicia Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>