{% extends 'LayoutBundle:Layout:layout_partner_frontend.html.twig' %}

{% block carousel %}
{% endblock %}
{% block login_register %}
    {% include 'LayoutBundle:Security:overlay_login.html.twig' %}
    {% include 'LayoutBundle:Security:overlay_register.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <img class="" src="{{ asset('bundles/partner/img/icon/mcp-with-text.png')}}" alt="{{"label.home" | trans}}"/>
        </div>
    </div>
{% endblock %}




