{% for currency in currencies %}
<li><a href="{{ path('frontend_change_currency', {'currencyCode': currency.getCurrCode, 'route': route, 'routeParams': routeParams }) }}">{{ currency.getCurrName }}</a></li>
{% endfor %}
