<h4 style="font-family: Arial; font-size: 20px">多Has olvidado tu contrase単a?</h4>
<p style="font-family: arial; font-size: 14px">
    Visite el siguiente enlace para cambiar su contrase単a: <a href='{{ changeUrl }}'>Recuperar contrase単a</a>
</p>