/*
 *
 *   Partner.css
 *
*/
body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.644;
    color: #7d7d7d;
    background-color: #2f4050;
}
@font-face{
    font-family: 'HelveticaRoman'; src: url('../font/HelveticaLTStd-Roman.otf');
}
@font-face{
    font-family: 'CaeciliaRoman';
    src: url('../font/CaeciliaLTStd-Roman.otf');
}
.color-td-onepackage{
    background-color: #2f4050 !important;
    color: #fff;
}
.color-td-twopackage{
    background-color: #3f69bf !important;
    color: #fff;
}
.color-td-threepackage{
    background-color: #3f69bf !important;
    color: #fff;
}
.color-td-fourpackage{
    background-color: #3f69bf !important;
    color: #fff;
}
.color-td-fivepackage{
    background-color: #3f69bf !important;
    color: #fff;
}
.caecilia-roman{
    font-family: CaeciliaRoman;
}
.helvetica-roman{
    font-family: HelveticaRoman;
}
.nav.navbar-right > li > a {
    color: #fff;
}
.navbar-fixed-top {
    background: #fff;
    transition-duration: 0.5s;
    border-bottom: 0px solid #e7eaec !important;
    z-index: 2030;
}
.pace-running .header-back.one {
    background: url('../bundles/partner/img/slideshow/1/1.jpg') 50% 0 no-repeat;
}
.pace-running .header-back.two {
    background: url('../bundles/partner/img/slideshow/1/2.jpg') 50% 0 no-repeat;
}
.pace-running .header-back {
    height: 334px;
    width: 100%;
}
.pace-running .carousel .item {
    height: 334px;
    background-color: #777;
}
.pace-running .carousel {
    height: 334px;
}

.pace-running .navbar-fixed-top,
.navbar-static-top {
    background: transparent;
}
.landing-page .header-back.one {
    background: url('../bundles/partner/img/slideshow/1/1.jpg') 50% 0 no-repeat;
}
.landing-page .header-back.two {
    background: url('../bundles/partner/img/slideshow/1/2.jpg') 50% 0 no-repeat;
}
.landing-page .header-back {
    height: 334px;
    width: 100%;
}
.landing-page .carousel .item {
    height: 334px;
    background-color: #777;
}
.landing-page .carousel {
    height: 360px;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
    border-top: none;
}
.landing-page .navbar-default .nav li a {
    color: #fff;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 14px;
}
.landing-page .carousel-caption h1 {
    font-weight: 700;
    font-size: 38px;
    text-transform: none;
    text-shadow: none;
    letter-spacing: -1.5px;
}
.landing-page .carousel-caption p {
    font-weight: 700;
    text-transform: none;
    text-shadow: none;
}
.landing-page .carousel-caption {
    position: absolute;
    top: 160px;
    right: 0;
    bottom: auto;
    text-align: right;
}
.landing-page .navbar-nav > li > a {
    padding-top: 25px;
    border-top: none;
}
.pace-running .navbar-default.navbar-scroll {
    background-color: #3f69bf;
    background-image: linear-gradient(to bottom, #3f69bf 30%, #1d4b99);
    padding: 15px 0;
}
.pace-running .navbar-scroll.navbar-default .nav li a {
    color: #fff;
}
.pace-running .navbar-scroll.navbar-default .nav li a:hover {
    color: #fff;
}
.landing-page .navbar-default.navbar-scroll {
    background-color: #3f69bf;
    background-image: linear-gradient(to bottom, #3f69bf 30%, #1d4b99);
    padding: 15px 0;
}
.landing-page .navbar-scroll.navbar-default .nav li a {
    color: #fff;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover {
    color: #fff;
}

/****************style chosen*************************/
.chosen-container-single .chosen-single {
    background: #ffffff none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    font-size: 14px;
    padding: 4px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-shadow: none;
}
.chosen-container-single .chosen-single div {
    top: 6px;
    cursor: pointer;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: linear-gradient(#fff 20%, #ffffff 80%);
    border: 1px solid #e5e6e7;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 0 #fff inset;
}
.chosen-container .chosen-drop {
    border-top-color: -moz-use-text-color;
    border-right-color: #e5e6e7;
    border-left-color: #e5e6e7;
    border-bottom-color: #e5e6e7;
    box-shadow: none;
}
.chosen-container-single .chosen-single abbr{
    top: 11px;
    cursor: pointer;
}
.chosen-choices .search-field input, .chosen-default span {
    color: #999 !important;
    opacity: 0.5 !important;
    font-size: 14px !important;
    font-family: inherit !important;
    /*padding: 0 5px 0 10px !important;*/
}
.chosen-container-single .chosen-single abbr {
    background: rgba(0, 0, 0, 0) url("../bundles/layout/css/plugins/chosen/chosen-sprite.png") no-repeat scroll -42px 1px;
}
.chosen-container-single .chosen-single div b {
    background: rgba(0, 0, 0, 0) url("../bundles/layout/css/plugins/chosen/chosen-sprite.png") no-repeat scroll 0 2px;
}
/******************************************************/