<div class="paSearcher row">
    <div class="pull-right"><a><i class="fa fa-times fa-2x"></i></a></div>
    <h3>{{ "pa_searcher_title" | trans }}</h3>
    <div class="row">
        <div class="col-md-2">
            <select class="select" id="ddlDestinations"></select>
        </div>
        <div class="col-md-2">
            <input id="dateFrom"/>
        </div>
        <div class="col-md-2">
            <input id="dateTo"/>
        </div>
    </div>
</div>