.bg-solid-ligth-blue {
    background-color: #dfeaf5;
}

.margin-t {
    margin: 10px 0;
}

.h-size-3 {
    font-size: 23px;
}
.caecilia-roman {
    font-family: CaeciliaRoman;
}
.h-white-1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.icon-facebook {
    background-position: -62px -211px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.economic_house .hr-green {
    border-color: #5e95cc;
}
.economic_house .comments small {
    color: rgb(94, 149, 204);
}