{%if favorite_type == "ownerships"%}
{%set menu = 7%}
{%else%}
{%set menu = 8%}
{%endif%}
{% extends 'frontEndBundle:mycasatrip:layout.html.twig' %}
{% block body_inner %}
<div id="loading" class="hidden">
        <div class="layer-loading"></div>
        <div class="loading-signal"><img class="img-circle load-icon" src="{{ asset('bundles/frontend/img/loading.gif') }}"/></div>
    </div>
{%if favorite_type == "ownerships"%}
<div class="thumbs-houses" id="div_result">
                {{ include('frontEndBundle:ownership:ownershipArrayItemList.html.twig', 
                {'list': ownership_favorities,
                 'list_preffix': 'own_fav_preffix',
                 'is_in_favorites_list': true
                }) }}      
</div>
{%else%} 
    <div class="row-fluid result_list" id="div_result_destinations">
        {{ include('frontEndBundle:destination:arrayItemListDestination.html.twig', 
                {'list': destination_favorities,
                'list_preffix' : 'destination_favorities',
                'is_in_favorites_list': true
                }) }}      
    </div>
{%endif%}


{% endblock %}