{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}MyCasaTrip{% endblock %}
{% set main_tab = 6 %}
{% block content_nav_top_body %}
Mycasa trip
{% endblock %}
{% block body %}
<ul class="breadcrumb">
    <li><a title="Ir a la portada" href="{{ path('frontend_welcome') }}">Inicio</a> <span
            class="divider">»</span></li>
    <li class="active">MyCasaTrip</li>
</ul>
<div class="green_bar msg_green_brand">
    <div class="row-fluid">
        <div class="span9"></div>
        <div class="span3" style=" padding-right: 10px">
            <form id="order_by_form" method="post" action="" style="margin: 0">
            <select class="span12" id="mct_change_order" name="mct_change_order">
                <option {% if order_by is defined and order_by == 0%}selected="selected" {% endif %} value="0">Fecha</option>
                <option {% if order_by is defined and order_by == 1%}selected="selected" {% endif %} value="1">ID Reserva</option>
                <option {% if order_by is defined and order_by == 2%}selected="selected" {% endif %} value="2">Precio</option>
            </select>
           </form>
        </div>
    </div>
</div>
<div class="thumbnail" style="border-radius: 0 0 8px 8px; padding: 10px 10px 12px">
    <div class="row-fluid">
        <div class="span4">
            {% if menu is not defined %}
            {% set menu = 0 %}
            {% endif %}
            {% render 'frontEndBundle:mycasatrip:get_menu_count' with {'menu_selected': menu} %}
        </div>
        <div class="span8">
            {% block body_inner %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#mct_change_order').change(function(){
        $('#order_by_form').submit();
    })
</script>
{% endblock %}
