{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}MyCasaTrip{% endblock %}
{% set main_tab = 6 %}
{% block content_nav_top_body %}
Mycasa trip
{% endblock %}
{% block body %}
<ul class="breadcrumb">
    <li><a title="Ir a la portada" href="{{ path('frontend_welcome') }}">Inicio</a> <span
            class="divider">»</span></li>
    <li class="active">MyCasaTrip</li>
</ul>
    <div class="row-fluid">
        <div class="span12">
            {% block body_inner %}
            {% endblock %}
        </div>
    </div>
<script type="text/javascript">
    $('#mct_change_order').change(function(){
        $('#order_by_form').submit();
    })
</script>
{% endblock %}
