{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}MyCasaTrip{% endblock %}
{% set main_tab = 6 %}
{% block body %}
<div  class="container">
{% if menu is not defined %}
   {% set menu = 0 %}
   {% endif %}
    {{ render(controller('FrontEndBundle:mycasatrip:get_menu_count', {'menu_selected': menu})) }}
{% block body_inner %}
   {% endblock %}
</div>
</div>

{% endblock %}
