{% set start_date = "now"|date("d/m/Y") %}
{% set end_date = "+2 days" |date("d/m/Y") %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{{ 'RESERVATION_RESERVE' | trans }}</h4>
            {#<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>#}
        </div>
        <div class="modal-body p-5 clearfix">
            {%  include 'MyCpMobileFrontendBundle:ownership:ownership_details_calendar.html.twig' with { 'modal_check_class' : true }  %}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'CANCEL' | trans }}</button>
        </div>
    </div>
</div>