<td><b>Nombre Cliente (Turista) :</b>{{ pay.getUserTourist.getUserTouristUser.getUserCompleteName }} - <b>Correo:</b>{{ pay.getUserTourist.getUserTouristUser.getUserEmail }}</td>
<td>{{ pay.getPayAmount }} {{ pay.getCancelId.getBooking.getBookingCurrency.getCurrSymbol }} </td>
