<div class="col-md-6">
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicons user"></i>
        {{ form_widget(item.name,{ 'attr': {'placeholder': 'label.name.nameresponse'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
    </div>
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicons iphone"></i>
        {{ form_widget(item.phone,{ 'attr': {'placeholder': 'label.name.phone'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
    </div>
</div>
<div class="col-md-6">
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicons envelope"></i>
        {{ form_widget(item.email,{ 'attr': {'placeholder': 'label.name.email'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
    </div>
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicons phone_alt"></i>
        {{ form_widget(item.mobile,{ 'attr': {'placeholder': 'label.name.mobile'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
    </div>
</div>
