{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
    This is the Skrill Test Response page
{% endblock %}


{% block body %}
<div class="container">
    <h2>{{ status }}</h2>
</div>



{% endblock %}