{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
    <h1>This is the Skrill Test Response page</h1>
{% endblock %}


{% block body %}

    <h2>{{ status }}</h2>



{% endblock %}