{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}
    <h2>SKRILL TEST PAYMENT PAGE</h2>
    <h3>Delete this page if not needed anymore</h3>
{% endblock %}



{% block body %}

<a href="{{ payUrl }}">Pay here</a>

{% endblock body %}
