{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
    <h2>SKRILL TEST PAGE</h2>
{% endblock %}



{% block body %}
    <p>This worked, {{ name }}!</p>
<iframe>

</iframe>


{% endblock body %}