{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
    <h2>Waiting for payment...</h2>
{% endblock %}


{% block body %}
    <p>{{ pollingUrl }}</p>
    <div class="json_result">
        Results here:
    </div>
{% block include_javascripts_and_css %}
    <script>
        $(document).ready(function () {
            poll();
        });

        function poll(){
            $.getJSON('{{ pollingUrl }}', function(data) {
                var items = [];

                $.each(data, function(key, val) {
                    //items.push('<li id="' + key + '">' + val + '</li>');
                    $(".json_result").append('<p>' + key + " " + val + '</p>');
                });

//                $('<ul/>', {
//                    'class': 'my-new-list',
//                    html: items.join('')
//                }).appendTo('body');
                setTimeout(poll, 2000); // this works!
            });
        }
    </script>
{% endblock %}
{% endblock %}