{% for currency in currencies %}
    <a  class="change_language dropdown-item"  onclick='HoldOn.open();' data-url="{{ path('frontend_change_currency', {'currencyCode': currency.getCurrCode }) }}">{{ currency.getCurrName }}</a>

    {#<li><a rel="nofollow" href="{{ path('frontend_change_currency', {'currencyCode': currency.getCurrCode, 'route': route, 'routeParams': currency.getCurrName|lower }) }}">{{ currency.getCurrName }}</a></li>#}
{% endfor %}
