<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Plan de Trabajo{% endblock %}</title>
    <style type="text/css">
        #logo {
            float: left;
        }
        body {
            margin: 0;
            padding: 0;
            color: #000;
            background-color: #fff;
            font: 13px Verdana, Arial, Helvetica, sans-serif;
        }
        #approved-container {
            float: left;
            vertical-align: bottom;
            margin-left: 100px;
            /*margin-top: 90px;*/
        }

        td {
            vertical-align: top;
        }

        #content div {
            overflow: auto;
        }
        .centered {
            text-align: center;
            vertical-align: middle;
        }
        .centeredV
        {
            vertical-align: middle;
        }
        .bold {
            font-weight: bold;
            font-size: 110%;
        }
        #plan-heading {
            margin-top: 10px;
        }
        .heading {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        #content {
            margin: 15px;
        }
    </style>


</head>
<body>
<div id="content">
    <table>
        <tr>
            <td>
                <img id="logo" width="240px" height="42px" src="bundles/mycp/images/logo.jpg" alt="{{"Logo" | trans}}">
            </td>
            <td>
                <table style="margin-top: 40px">
                    <tr>
                        <td>Otra info</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="plan-heading" class="centered">
        <span class="bold">Documento</span>
    </div>

    <div id="priorities-container">
        <span class="bold">Prioridades:</span>
        <ul>
           klkjklj
        </ul>
    </div>

    <div class="heading centered">
        <span class="bold">INFORMACIONES</span>
    </div>

    <div class="heading centered" style="margin-top: 10px;">
        <span class="bold">TAREAS</span>
    </div>

</div>
</body>
</html>