<option {% if selected== 'null' %} selected="TRUE" {% endif %} value="null"></option>
<option {% if selected== '1' %} selected="TRUE" {% endif %} value="1">Activo</option>
<option {% if selected== '0' %} selected="TRUE" {% endif %} value="0">No activo</option>