<option value=""></option>
{% for municipality in municipalities %}
    <option{% if(selected is defined and selected == municipality.getMunId) %} selected="TRUE" {% endif %} value="{{ municipality.getMunId }}"> {{ municipality.getMunName }}</option>
{% endfor %}