{% for own in accommodations %}
    <option data-percent="{{ own.ownCommissionPercent }}" value="{{ own.ownId }}" {% if loop.index == 0 %}selected{% endif %}>{{own.ownMcpCode}} - {{ own.ownName }}</option>
{% endfor %}