<option value=""></option>
<option {% if selected=='1' %} selected="true" {% endif %}value="1">Destinos</option>
<option {% if selected=='2' %} selected="true" {% endif %}value="2">Preguntas Frecuentes</option>
<option {% if selected=='3' %} selected="true" {% endif %}value="3">Álbumes</option>
<option {% if selected=='4' %} selected="true" {% endif %}value="4">Propiedades</option>
<option {% if selected=='5' %} selected="true" {% endif %}value="5">Monedas</option>
<option {% if selected=='6' %} selected="true" {% endif %}value="6">Idiomas</option>
<option {% if selected=='7' %} selected="true" {% endif %}value="7">Reservaciones</option>
<option {% if selected=='8' %} selected="true" {% endif %}value="8">Usuarios</option>
<option {% if selected=='9' %} selected="true" {% endif %}value="9">Informaciones Generales</option>
<option {% if selected=='10' %} selected="true" {% endif %}value="10">Comentarios</option>