<option value=""></option>
<option {% if(data_post['ownership_category'] is defined and  data_post['ownership_category']== 'Económica') %} selected="TRUE" {% endif %} value="Económica">Económica</option>
<option {% if(data_post['ownership_category'] is defined and  data_post['ownership_category']== 'Rango medio') %} selected="TRUE" {% endif %} value="Rango medio">Rango medio</option>
<option {% if(data_post['ownership_category'] is defined and  data_post['ownership_category']== 'Premium') %} selected="TRUE" {% endif %} value="Premium">Premium</option>
