
<option value=""></option>
<option {% if selected== 'TV' %} selected="TRUE" {% endif %} value="TV">TV</option>
<option {% if selected== 'TV+DVD / Video' %} selected="TRUE" {% endif %} value="TV+DVD / Video">TV+DVD / Video</option>
<option {% if selected== 'TV cable' %} selected="TRUE" {% endif %} value="TV cable">TV cable</option>

