<label class="checkbox" style="float: left; margin-right: 10px;">
    <input type="checkbox" {% if(data['water_jacuzee'] is defined) %} checked="TRUE" {% endif %} name="water_jacuzee" value="1"/> Jacuzee
</label>
<label class="checkbox" style="float: left; margin-right: 10px;">
    <input type="checkbox" {% if(data['water_sauna'] is defined) %} checked="TRUE" {% endif %} name="water_sauna" value="1"/> Sauna
</label>
<label class="checkbox" style="float: left; margin-right: 10px;">
    <input type="checkbox" {% if(data['water_piscina'] is defined) %} checked="TRUE" {% endif %} name="water_piscina" value="1"/> Piscina
</label>

