
<option value=""></option>
<option {% if selected== 'Aire acondicionado' %} selected="TRUE" {% endif %} value="Aire acondicionado">Aire acondicionado</option>
<option {% if selected== 'Ventilador' %} selected="TRUE" {% endif %} value="Ventilador">Ventilador</option>

