<option value=""></option>
<option {% if(data_post['ownership_type'] is defined and  data_post['ownership_type']== 'Penthouse') %} selected="TRUE" {% endif %} value="Penthouse">Penthouse</option>
<option {% if(data_post['ownership_type'] is defined and  data_post['ownership_type']== 'Villa con piscina') %} selected="TRUE" {% endif %} value="Villa con piscina">Villa con piscina</option>
<option {% if(data_post['ownership_type'] is defined and  data_post['ownership_type']== 'Apartamento') %} selected="TRUE" {% endif %} value="Apartamento">Apartamento</option>
<option {% if(data_post['ownership_type'] is defined and  data_post['ownership_type']== 'Propiedad completa') %} selected="TRUE" {% endif %} value="Propiedad completa">Propiedad completa</option>
<option {% if(data_post['ownership_type'] is defined and  data_post['ownership_type']== 'Casa particular') %} selected="TRUE" {% endif %} value="Casa particular">Casa particular</option>
