{% if ownership.own_comment %}<a class="tooltip_msg no_link" rel="tooltip" title="{{ownership.own_comment}}">{% endif %}
        {% if ownership.status_id%}
            {% if ownership.status_id==constant('\\MyCp\\mycpBundle\\Entity\\ownershipStatus::STATUS_ACTIVE')%}<span class="label label-success">Activo</span>
            {% else %} <span class="label label-important">{{ ownership.status_name }}</span>{% endif %}
            {%else%}
                                                            <span class="label">Sin estado</span>
            {% endif %}
        {% if ownership.own_comment %}</a>{% endif %}
        {%if ownership.own_top_20%}
                                                        <br/><span class="label label-warning">Top 20</span>
        {%endif%}
        {%if ownership.own_selection%}
                                                        <br/><span class="label label-info">Casa Selección</span>
        {%endif%}
        {%if ownership.own_inmediate_booking%}
                                                        <br/><span class="label label-info">Reserva Inmediata</span>
        {%endif%}
        {%if ownership.own_not_recommendable%}
                                                        <br/><span class="label label-important">No recomendable</span>
        {%endif%}
        {%if ownership.own_cubacoupon%}
            <br/><span class="label label-info">CubaCoupon</span>
        {%endif%}


