
<option value=""></option>
<option {% if selected== 'Interior privado' %} selected="TRUE" {% endif %} value="Interior privado">Interior privado</option>
<option {% if selected== 'Exterior privado' %} selected="TRUE" {% endif %} value="Exterior privado">Exterior privado</option>
<option {% if selected== 'Compartido' %} selected="TRUE" {% endif %} value="Compartido">Compartido</option>

