<ul class="nav nav-tabs">
    <li class="active">
        <a href="#reservas" data-toggle="tab">Pagos</a>
    </li>
</ul>
{%if bookings%}
<table class="table table-striped" style="font-size: 12px">
    <tr>
        <td><b>Booking</b></td>
        <td><b>Prepago</b></td>
        <td><b>Pagado</b></td>
    </tr>
    {%for booking in bookings%}
        <tr>
        <td>{{booking.booking_id}}</td>
        <td>{{ceil_round(booking.booking_prepay * booking.booking_rate)}} CUC</td>
        <td>{{ceil_round(booking.payed * booking.booking_rate)}} CUC</td>
        </tr>
    {%endfor%}
        <tr>
            <td colspan="3"><b>Pago al arribar:</b> {{payment}} CUC</td>
        </tr>
</table>
{%else%}
        <div class="alert alert-error">No hay pagos asociados</div>
{%endif%}