<option value=""></option>
<option {% if selected== '10'%} selected="TRUE" {% endif %} value="10">10%</option>
<option {% if selected== '15'%} selected="TRUE" {% endif %} value="15">15%</option>
<option {% if selected== '20'%} selected="TRUE" {% endif %} value="20">20%</option>
