{% set percent = 100 * elements / total %}
<table style="width: 100%; border-color: #468847 !important; color: #468847 !important; padding: 0; border-radius: 5px;" title="{{ percent }} %">
    <tr>
        <td style="width: {{ percent }}%; background-color: #468847 !important; padding: 0;border: 1px solid #468847 !important">&nbsp;</td>
        <td style="width: {{100 - percent }}%; border: 1px solid #468847 !important;padding: 0;">&nbsp;</td>
    </tr>
</table>