<option value=""></option>
<option {% if selected== '5'%} selected="TRUE" {% endif %} value="5">5</option>
<option {% if selected== '10'%} selected="TRUE" {% endif %} value="10">10</option>
<option {% if selected== '15'%} selected="TRUE" {% endif %} value="15">15</option>
<option {% if selected== '20'%} selected="TRUE" {% endif %} value="20">20</option>
<option {% if selected== '25'%} selected="TRUE" {% endif %} value="25">25</option>
<option {% if selected== '30'%} selected="TRUE" {% endif %} value="30">30</option>