{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administraci칩n{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administraci칩n</a> <span class="divider">/</span></li>
    <li class="active">Procesar Im치genes</li>
</ul>
{% endblock %}
{% block content %}
<h2>Procesar Im치genes</h2>
<hr/>
<div class="alert alert-success">{{ message | raw}}</div>

{% endblock %}