<option value=""></option>
{% for province in provinces %}
<option {% if selected== province.getProvId %} selected="TRUE" {% endif %} class="{{ province.getProvPhoneCode }}" value="{{ province.getProvId }}" data-phone-code ="{{ province.getProvPhoneCode }}">{{ province.getProvName }}</option>
{% endfor %}