<option {% if selected== '0' %} selected="TRUE" {% endif %} value="0">0</option>
<option {% if selected== '1' %} selected="TRUE" {% endif %} value="1">1</option>
<option {% if selected== '2' %} selected="TRUE" {% endif %} value="2">2</option>
<option {% if selected== '3' %} selected="TRUE" {% endif %} value="3">3</option>
<option {% if selected== '4' %} selected="TRUE" {% endif %} value="4">4</option>
