

<option value=""></option>
<option {% if selected== '1' %} selected="TRUE" {% endif %} value="1">Fecha</option>
<option {% if selected== '2' %} selected="TRUE" {% endif %} value="2">ID Casa</option>
<option {% if selected== '3' %} selected="TRUE" {% endif %} value="3">LLegada</option>
<option {% if selected== '4' %} selected="TRUE" {% endif %} value="4">Estado</option>
