<div style="text-align: center" class="badge
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_PENDING') %}">Pendiente{%endif%}
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_AVAILABLE') %} badge-success">Disponible{%endif%}
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_AVAILABLE2') %} badge-success">Disponible{%endif%}
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED') %} badge-info">Reservada{%endif%}
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') %} badge-warning">No disponible{%endif%}
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED') %} badge-important">Cancelada{%endif%}
{% if status==constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_OUTDATED') %} badge-inverse">Vencida{%endif%}
</div>
