<option {% if selected=='0' %} selected="true" {% endif %}value="0">Pendiente</option>
<option {% if selected=='1' %} selected="true" {% endif %}value="1">Disponible</option>
<option {% if selected=='2' %} selected="true" {% endif %}value="2">Reservada</option>
<option {% if selected=='3' %} selected="true" {% endif %}value="3">No disponible</option>
<option {% if selected=='4' %} selected="true" {% endif %}value="4">Cancelada</option>