

<option value=""></option>
<option {% if selected== '5' %} selected="TRUE" {% endif %} value="5">Total de Reservas</option>
<option {% if selected== '1' %} selected="TRUE" {% endif %} value="1">Nombre</option>
<option {% if selected== '2' %} selected="TRUE" {% endif %} value="2">Ciudad</option>
<option {% if selected== '3' %} selected="TRUE" {% endif %} value="3">Correo</option>
<option {% if selected== '4' %} selected="TRUE" {% endif %} value="4">País</option>
