{% if users %}
<option value=""></option>
{% for user in users %}
    <option {% if user.getUserSubrole is defined and user.getUserSubrole != null %}class="{{user.getUserSubrole.getRoleName}}"{% endif %} {% if( selected == user.getUserId) %} selected="TRUE" {% endif %} value="{{ user.getUserId }}"> {% if user.getName %}{{ user.getName }}{% else %}{{ user.getUserName }}{% endif %}</option>
{% endfor %}
{% endif %}