
<option value=""></option>
<option {% if selected== 'Si' or selected== '1' or selected== 1 or selected== 'true' %} selected="TRUE" {% endif %} value="1">Si</option>
<option {% if selected== 'No' or selected== '0' or selected== 0 or selected== 'false' or selected== ''%} selected="TRUE" {% endif %} value="0">No</option>


