<div current-page="{{ current_page }}" total-page="{{ top_rated_total_items }}" class="thumbs-houses lazy-cont">
    <div class="row">
    {%set cont=0%}
    {% for ownership in own_top20_list %}
        <div class="col-sm-4 animated bounceIn" style="margin-bottom: 15px;">
            {{ include('FrontEndBundle:ownership:accommodation_small_control.html.twig',{
                'id': ownership.own_id,
                'name': ownership.own_name,
                'award': ownership.award,
                'minPrice': ownership.minPrice,
                'is_in_favorite': ownership.is_in_favorites,
                'photo': ownership.photo,
                'destination': ownership.destination,
                'list_preffix': "top20"
                })
            }}
        </div>
    {%endfor%}
    </div>
</div>
<div class="modal inmodal fade" id="myModalOwnerShipCalendar" tabindex="-1" role="dialog"  aria-hidden="true"></div>
{{ include('FrontEndBundle:script:script.html.twig') }}