<div class="thumbs-houses lazy-cont">
    <div class="row">
    {%set cont=0%}
    {%for ownership in own_top20_list%}
    {% if cont <3 %}
    <div class="col-sm-4">
        {{ include('FrontEndBundle:ownership:accommodation_small_control.html.twig',{
        'id': ownership.own_id,
        'name': ownership.own_name,
        'award': ownership.award,
        'minPrice': ownership.minPrice,
        'is_in_favorite': ownership.is_in_favorites,
        'photo': ownership.photo,
        'list_preffix': "top20"}) }}
        </div>
    {% set cont=cont+1 %}
    {% else %}
    {% set cont=1 %}
</div>
<div class="row" style="margin-top: 25px">
    <div class="col-sm-4">
        {{ include('FrontEndBundle:ownership:accommodation_small_control.html.twig',{
        'id': ownership.own_id,
        'name': ownership.own_name,
        'award': ownership.award,
        'minPrice': ownership.minPrice,
        'is_in_favorite': ownership.is_in_favorites,
        'photo': ownership.photo,
        'list_preffix': "top20"}) }}
    </div>
 
    {% endif %}
    {%endfor%}
</div>
</div>
<script type="text/javascript">
        $(function(){
            $('img.lazy').jail();
        });
</script>
<div class="modal inmodal fade" id="myModalOwnerShipCalendar" tabindex="-1" role="dialog"  aria-hidden="true"></div>
{{ include('FrontEndBundle:script:script.html.twig') }}