<option value="1" style="color:black;">1</option>
<option value="2" style="color:black;">2</option>
{% if room_type =='Habitación Triple' %}
<option value="3" style="color:black;">3</option>
{% endif %}
