{% set start_date = "now"|date("d/m/Y") %}
{% set end_date = "+2 days" |date("d/m/Y") %}
<script type="text/javascript">
    var arrival = $('#input_arrival_date').val();
    var departure = $('#input_departure_date').val();
    if(arrival!='')
        $('#filter_date_from').val(arrival);
    if(departure!='')
        $('#filter_date_to').val(departure);

</script>

        <div>
            <small class="h-blue" style="font-size: 24px">{{ ownership.ownname }}</small>
            {%  include 'FrontEndBundle:ownership:ownership_details_calendar.html.twig' with { 'modal_check_class' : true }  %}
        </div>

