<div class="row houses-list" style="text-align: center">
    <div class="col-sm-6" style="margin: 0 25%">
<div class="thumbnail" >
    <img src="{{ asset("uploads/userImages/" ~ owner_photo)}}" alt="{{"Pixel" | trans}}"/>
</div>                            
</div>
        </div>
