{%if owner_list | length%}
<div class="carousel slide carousel-mini" id="housesCarousel">
                <h4 class="carousel-title">{{"OWNERS" | trans}}</h4>
                <div class="carousel-inner">
                    {%set counter = 0%}
                    {%for owner in owner_list%}
                    <div class="item {%if counter == 0%}active{%endif%}">
                            <div class="row">
                                <img src="{{ asset("uploads/userImages/" ~ owner.photo)}}" class="thumbnail full-width"/>
                            </div>                            
                    </div>
                        {%set counter = counter + 1%}
                        {%endfor%}
                </div>
                {%if owner_list | length > 1%}
                <a data-slide="prev" href="#housesCarousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#housesCarousel" class="right carousel-control">›</a>
                {%endif%}
            </div>
{%endif%}
