#full-width-slider{
    width: 100%;
    color: #000;
}

@font-face{
    font-family: 'HelveticaRoman';
    src: url('../font/HelveticaLTStd-Roman.otf');
}

@font-face{
    font-family: 'CaeciliaRoman';
    src: url('../font/CaeciliaLTStd-Roman.otf');
}
.caecilia-roman{
    font-family: CaeciliaRoman;
}
.helvetica-roman{
    font-family: HelveticaRoman;
}

.divider-hor-1{
    background-color: #E4E3E8;
    height: 2px; margin-bottom: 30px;
}
.divider-hor-2{
    background-color: #F8B525;
    height: 1px; margin-bottom: 30px;
}
.bg-gradient-blue{
    background-color: #3F69BF;
    background-image: -moz-linear-gradient(top, #3F69BF 30%, #1D4B99);
    background-image: -webkit-gradient(linear, 0 0, 0 30%, from(#3F69BF), to(#1D4B99));
    background-image: -webkit-linear-gradient(top, #3F69BF 30%, #1D4B99);
    background-image: -o-linear-gradient(top, #3F69BF 30%, #1D4B99);
    background-image: linear-gradient(to bottom, #3F69BF 30%, #1D4B99);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E3E8', endColorstr='#B9B8BD', GradientType=0);
}

.bg-gradient-orange{
    background-color: #F4941C;
    background-image: -moz-linear-gradient(top, #F7BD1B, #F4941C);
    background-image: -webkit-gradient(linear, 0 0, 0, from(#F7BD1B), to(#F4941C));
    background-image: -webkit-linear-gradient(top, #F7BD1B, #F4941C);
    background-image: -o-linear-gradient(top, #F7BD1B, #F4941C);
    background-image: linear-gradient(to bottom, #F7BD1B, #F4941C);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7BD1B', endColorstr='#F4941C', GradientType=0);
    border: solid 1px #F7BD1B;
}
.bg-solid-orange{
    background-color: #f4981d;
    padding: 6px 0;
}
.orange-shadow-cont{
    background-color: #f4981d;
    border-radius: 3px;
    border: solid 1px #D78517;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 8px;
    margin-bottom: 25px;
}
.orange-shadow-cont div{margin-bottom: 12px}

#top-menu{width: 100%; margin-top: 0}
#top-menu-cont{margin-top: 24px}
#top-menu .navbar-collapse{
    font-family: HelveticaRoman;
}
#banner-msg-cont
{
    padding: 10px 5% 10px 15%;
    background: url("../img/banner-bg.png") repeat-y 100%;
    margin-top: -255px;
    position: absolute;
    z-index: 10;
}

#banner-msg{
    color: #ffffff;
    border-left: solid 5px #6E9C20;

}

#banner-msg h1{
    font-size: 38px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    line-height: 38px;
    margin: 0 0 0 12px;
}
#banner-msg h2{
    background: #729922;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 40px 6px 8px;
    margin: 10px 0px 0 5px;
    letter-spacing: 0.5px;
}

#main-search .form{
    border-radius: 8px;
    padding: 1px;
    z-index: 100;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    position: absolute;
    width:70%;
    margin: -60px 15% 0;
}

#main-search-2 .form
{
    border-radius: 8px;
    padding: 1px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin: 20px 0 0px;
}

#main-search form div,#main-search-2 form div{
    padding: 4px;
}


.dropdown-menu .badge{font-size: 11px}

@media (max-width: 1170px) {
    #banner-msg-cont h1{ font-size: 28px; line-height: 28px}
    #banner-msg-cont h2{ font-size: 15px }
    #banner-msg-cont{ margin-top: -23%}
}

@media (max-width: 768px) {
    .pagination-cont div,.center-cont{text-align: center}
    #social{text-align: left}
    #main-search .form,#main-search-2 .form{ position: inherit; margin: 0; width: 100%; border-radius: 0}
    .cont-form{padding: 0}
    .myct-menu .col-sm-4{width: 100%!important;}
    #some_numbers{margin-top: 0!important;}

}

@media (max-width: 590px) {
    #banner-msg-cont{display: none;}
    footer .col-xs-2,footer .col-xs-3{display: table}
    .bg-solid-orange .star-orange-icon{display: none}
    #firm{display: none}
    .items-cart table td{display: block; width: 100%!important; text-align: center; padding: 5px}
    .items-cart .cost{text-align: center}
    .table-responsive-v2 tr td{display: block}
    .table-responsive-v2 tr td.last{padding-left: 0}
    #pedro{width: 100%}
    #map-cont{display: none}
}

@media (max-width: 400px) {
    #full-width-slider{display: none;}
}


.h-grey{color: #A6A6A6;}
.h-grey-2{color: #cecccc;}
.h-dark-grey{color: #121212; font-size: 28px}
.h-dark-grey-2{text-transform: uppercase; color: #3d3d3d; font-size: 12px; font-weight: bold}
.h-white{color: #FFFFFF; font-size: 24px; margin: 0}
.h-white-1{color: #FFFFFF; font-size: 18px; margin: 0}
.h-orange{color: #f5991c}
.h-blue{color: #218CDC; font-size: 14px; margin: 15px 0 10px; font-weight: bold}
.h-blue small{display: block; font-size: 14px; margin: 5px 0}
.h-blue-2{font-weight: normal; margin-top: 0px;}
.h-blue-3{font-weight: normal; margin-top: 0px; color: #218CDC; font-size: 32px}
.h-blue-4{font-weight: normal!important; color: #006793}
.h-green{color: #80AA2A}
.h-size-1{font-size: 28px}
.h-size-2{font-size: 35px}
.h-size-3{font-size: 23px}
.h-size-4{font-size: 18px}
.no-margin{margin: 0}
.margin-t-t{margin-top: 10px}
.margin-b-t{margin-bottom: 10px}
.margin-t{margin: 10px 0}

footer{padding: 20px 0; border-top: solid #98CD34 7px; color: #ffffff; font-size: 11px}
footer .icon{margin-left: 12px}
footer a:hover{color: #FFFFFF; text-decoration: underline}
footer a,footer h1{color: #CFCFCF; font-size: 12px}
footer h3{font-size: 13px; text-transform: uppercase; font-weight: bold; margin-top: 0}
footer ul{list-style: none; padding-left: 0}
footer ul li{line-height: 16px}

.icon-who{background: url("../img/icons/icons-who.png") no-repeat; vertical-align: middle}
.icon,.icon-medium,.icon-services{width: 13px; height: 14px; background: url("../img/icons/icons.png") no-repeat; vertical-align: middle }
.icon-services{ width: 27px; height: 27px}
.icon-2{width: 14px; height: 14px;}
.icon-3{width: 18px; height: 18px;}
.icon-medium{width: 26px; height: 25px; vertical-align: middle}
.tiny-book-icon{background-position: 0 0}
.icon-mail{background-position: -19px -231px; width: 19px; height: 14px;}
.icon-heart{background-position: -31px -75px; cursor: pointer}
.icon-heart-on{background-position: -16px -204px;cursor: pointer}
.tiny-heart-icon{background-position: -14px 0}
.tiny-user-icon{background-position: 0 -14px}
.tiny-lang-icon{background-position: -14px -14px}
.tiny-curr-icon{background-position: 0 -28px}
.cart-icon{background-position: 0 -42px}
.cart-full-icon{background-position: 0 -65px}
.star-orange-icon{background-position: -28px 0}
.star-orange-icon-2{background-position: -23px -248px;width: 23px; height: 22px}
.star-orange-off-icon-2{background-position: 0 -248px; width: 23px; height: 22px}
.tiny-orange-icon{background-position: 0 -89px}
.premium-icon{background-position: -29px -25px}
.tiny-premium-icon{background-position: -36px -122px}
.middle-icon{background-position: -27px -50px}
.tiny-middle-icon{background-position: -16px -113px}
.economic-icon{background-position: 0 -89px}
.tiny-economic-icon{background-position: -17px -91px}
.two-lines-icon,.three-lines-icon,.four-lines-icon{background-position: -33px -98px}
.two-lines-icon{height: 12px}
.three-lines-icon{height: 18px; margin-top: 2px}
.four-lines-icon{height: 23px}
.tiny-star-icon{background-position: -14px -28px}
.tiny-star-off-icon{background-position: 0px -114px}
.mail-icon{width: 28px; height: 19px; background-position: -27px -140px}
.face-icon{width: 14px; height: 26px; background-position: -1px -157px}
.icon-heart-2,.icon-heart-2-on{width: 16px; height: 15px; background-position: -39px -231px}
.icon-heart-2-on{background-position: -29px -625px}
.tweet-icon{width: 27px; height: 23px; background-position: 0 -133px}
.pint-icon{width: 16px; height: 22px; background-position: -37px -161px}
.yout-icon{width: 19px; height: 24px; background-position: -16px -159px}
.cam-icon{width: 26px; height: 21px; background-position: 0 -183px}
.three-lines2-icon{width: 24px; height: 15px; background-position: -31px -187px}
.point-icon{width: 16px; height: 25px; background-position: 0 -204px}
.icon-more{background-position: 0 -230px; width: 18px; height: 18px}
.box-icon{background-position: 0 -271px;}
.cofee-icon{background-position: -28px -271px;}
.food-icon{background-position: 0 -298px;}
.parking-icon{background-position: -28px -298px;}
.laund-icon{background-position: 0 -325px;}
.inet-icon{background-position: -28px -325px;}
.bed-icon{background-position: 0 -352px;}
.clima-icon{background-position: -28px -352px;}
.media-icon{background-position: 0 -379px;}
.ba-icon{background-position: -28px -379px;}
.smok-icon{background-position: 0 -406px;}
.win-icon{background-position: -28px -406px;}
.bal-icon{background-position: 0 -433px;}
.terr-icon{background-position: -28px -433px;}
.gard-icon{background-position: 0 -460px;}
.est-icon{background-position: -28px -460px;}
.kids-icon{background-position: 0 -487px;}
.eye-icon{background-position: -28px -487px;}
.flag-icon{background-position: 0 -514px;}
.graph-icon{background-position: -28px -514px;}
.pet-icon{background-position: 0 -568px;}
.jacuzee-icon{background-position: 0 -595px;}
.sauna-icon{background-position: -28px -595px;}
.pool-icon{background-position: 0 -622px;}
.bicicle-icon{background-position: -28px -568px;}
.persons-icon{background-position: 0 -541px;}
.heart-3-icon{background-position: -28px -541px;}
.big-icons{width: 44px; height: 44px; background: url("../img/icons/big-icons.png") no-repeat;}
.premium-big-icon{background-position: 0 0}
.medium-big-icon{background-position: -44px 0}
.economic-big-icon{background-position: -88px 0}

.nav-pills-new > li > a {
    padding: 0 4px;
    margin: 12px 0px 0;

}

.nav .caret-new {
    border-bottom-color: #B2B2B2;
    border-top-color: #B2B2B2;
}

#top-right-menu .nav-divider{
    height: 20px;
    background-color: #9FCA34;
    font-size: 13px;
}
#top-right-menu .dropdown-menu{
    background-color: #FFFFFF;
    border: none;
    font-size: 12px;
}
#top-right-menu .dropdown-menu li a{ color: #707070}
#top-right-menu .dropdown-menu li a:hover{ color: #FFFFFF}

#top-right-menu .nav .open > a:focus{background-color: transparent}

.full-width,.thumbnail img,.thumbs-houses table{
    width: 100%;
}
.middle-width{
    width: 50%;
}

.houses-list h1{margin-top: 0px}
.houses-list hr{margin: 10px 0;}
.houses-list .thumbnail{margin-bottom: 10px}
.houses-list .row{padding: 10px; color: #6d6c6c}
.houses-list small.top{margin: 5px 0; display: block; line-height: 18px}
.houses-list span{color: #1c1c1c}
.houses-list table td:last-child{vertical-align: top; width: 30%;}
.thumbnail hr{margin: 5px -10px}
.thumbnail .checkbox{margin-bottom: 3px; font-size: 12px}
.thumbs-houses table tr td:last-child{text-align: right}
.thumbs-houses-2 table tr td:first-child{width: 70%}
.thumbs-houses-2 table tr:first-child td:last-child{text-align: right}
.thumbs-houses-2 table tr td{vertical-align: top}
.thumbs-houses-2 table tr td:last-child{text-align: center; vertical-align: middle}
.thumbs-houses-2 table .col-xs-6:last-child{margin-top: 10px}
.thumbs-houses-2 .col-sm-4:first-child{border-right: solid 1px #DFDFDE}
.thumbs-houses-2 .col-sm-4:last-child{border-left: solid 1px #DFDFDE}
.thumbs-destination{margin-bottom: 40px}
.thumbs-destination .dest-description{min-height: 140px; font-size: 13px}
.thumbs-destination table tr td:last-child{text-align: left; vertical-align: top; padding-top: 10px; color: #326ab5; line-height: 18px}
.thumbs-destination div.cont{padding: 5px!important; border-radius: 0 6px 6px 0;}
.thumbs-destination .square-grey-cont{border-radius: 0 8px 8px 0; margin-left: -3px!important; border-left:  none}
.thumbs-destination small,.thumbs-houses-2 span{cursor: pointer}
.thumbs-destination hr{margin: 8px 0}
.thumbs-houses a{text-decoration: none; color: #555555}
.thumbs-houses h5{color: #7D7D7D}
.thumbs-houses .item{width: 90%; margin-left: 5%}
.thumbs-houses .thumbnail:hover, .thumbs-houses-2 .thumbnail:hover{
    border: solid 1px #A1CB37;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.bg-solid-blue-bar,.bg-gradient-green-bar,.bg-solid-orange-bar{
    margin: 20px 0 10px;
    padding: 6px 16px;
}
.bg-solid-orange-bar{
    background-color: #F16B12;
}
.bg-solid-blue-bar{
    background-color: #3564B7;
}
.bg-solid-ligth-blue{
    background-color: #DFEAF5;
}

.bg-gradient-green-bar{
    background-color: #80AA2A;
    background-image: -moz-linear-gradient(top, #80AA2A, #9DC837);
    background-image: -webkit-gradient(linear, 0 0, 0, from(#80AA2A), to(#9DC837));
    background-image: -webkit-linear-gradient(top, #80AA2A, #9DC837);
    background-image: -o-linear-gradient(top, #80AA2A, #9DC837);
    background-image: linear-gradient(to bottom, #80AA2A, #9DC837);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80AA2A', endColorstr='#9DC837', GradientType=0);
}

.bg-solid-blue-bar a{margin-left: 12px}
.bg-solid-white{background-color: #ffffff}
.big-price-blue,.big-price-green{
    font-size: 36px; font-weight: bold; color: #0088DD!important;
}
.big-price-blue{
    line-height: 28px;
}
.big-price-green{
    color: #80AA2A!important;
}

.square-grey-cont{
    background-color: #ffffff;
    border: solid 1px #DDDDDD;
    padding: 4px;
    margin-bottom: 10px;
}
.square-grey-cont div.cont{background-color: #f5f5f5; padding: 10px }

.gallery {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.gallery .rsOverflow{
    padding: 4px;
    border: solid 1px #DDDDDD;
    margin-bottom: 10px;
}

.price {
    display: block;
    padding: 0;
    line-height: 23px;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    list-style-type: none;
}

.price > li {
    padding: 11.5px 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e2e2e;
}
.price > li:nth-child(odd) {
    background: #f8f8f8;
}
.price > li:nth-child(even) {
    background: #f4f4f4;
}
.price.featured {
    margin-top: -20px;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}
.price.no-margin {
    margin-left: 0 !important;
}
.price li.lead-2{
    padding: 10px 30px;
    text-align: left;
}
.price li.lead {
    display: block;
    border: 1px solid #668a26;
    border-left-color: #84b231;
    color: #ffffff;
    margin: 0;
    text-shadow: 0 -1px 1px #999999;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    background-image: -moz-linear-gradient(top, #95c939, #84b231);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95c939), to(#84b231));
    background-image: -webkit-linear-gradient(top, #95c939, #84b231);
    background-image: -o-linear-gradient(top, #95c939, #84b231);
    background-image: linear-gradient(#95c939, #84b231);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95c939', endColorstr='#ff84b231', GradientType=0);
}

.carousel-mini {
    min-height: 100px;
    margin-bottom: 0;
    position: relative;
    line-height: 23px;
    margin-top: 15px;
    _height: 100px;
}
.carousel-mini .row{
    margin-bottom: 10px;
}
.carousel-mini p {
    background: transparent;
    margin-bottom: 0;
}
.carousel-mini .thumbnail {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 5px;
}
.carousel-mini .carousel-title {
    border-bottom: 1px solid #EEEEEE;
    margin-top: 0;
    padding-bottom: 10px;
}
.carousel-mini .carousel-inner > .item > .thumbnail {
    text-align: center;
}
.carousel-mini .carousel-control {
    position: absolute;
    left: auto;
    top: 0;
    right: 20px;
    width: 10px;
    height: 20px;
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 16px;
    color: #666666;
    text-align: center;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.carousel-mini .carousel-control.right {
    right: 0;
}
.carousel-mini .carousel-control:hover {
    color: #84b231;
    background-color: #ffffff;
    text-decoration: none;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.hr-green{border-color:#84b231}
.hr-grey{border-color:#C8C8C8}
.comments small{color: #84b231}
.comments .col-xs-2 img{width: 100%}
.services .row .row div:last-child{text-align: right}
.services .lead-2{padding: 10px;}

.services {font-size: 12px}

.items-cart .item{background-color: #f0f0f0; margin-bottom: 10px; border-radius: 4px; padding: 0px 10px}
.items-cart h1{margin: 0}
.items-cart a{text-decoration: none; color: #9c9c9c}
.items-cart{margin: 15px 0 15px}
.items-cart table td{vertical-align: middle}
.items-cart .date{ width: 10%}
.items-cart .name{width: 41%}
.items-cart .room-type{width: 24%; text-align: center}
.items-cart .persons{width: 16%}
.items-cart .cost{ width: 13%; text-align: right}
.items-cart .icon-remove-sign{font-size: 22px; cursor: pointer}
.items-cart span{font-size: 25px}
.prices-cart span{font-weight: normal; font-size: 22px}

.has-ribbon-orange.has-ribbon:after{
    background-color: #F39813;
}
.has-ribbon-grey.has-ribbon:after{
    background-color: #A5A5A5;
}
.has-ribbon-orange.has-ribbon:before{
    border-color:#8F5907 transparent;
}
.has-ribbon-red.has-ribbon:after{
    background-color: #bd362f;
}
.has-ribbon-red.has-ribbon:before{
    border-color:#2F0000 transparent;
}

.myct-records .big-price-blue{margin: 15px 0 20px}
.myct-records .col-sm-3.text-center{padding:10px 0; }
.myct-records .col-sm-3.text-center.grey{background-color: #F6F6F6;}
.myct-menu{margin: 0 0 5px;}
.myct-menu .col-sm-4{text-align: center;padding: 48px 10px 15px}
.myct-menu .col-sm-4:hover,.myct-menu .col-sm-4.active{background-color: #F3F3F3;}
.myct-menu a{ color: #717171; font-weight: bold}
.myct-menu a:hover{ text-decoration: none}

.dropdown-menu.datepicker{background-color: #ffffff}
.dropdown-menu.datepicker .year{cursor: pointer}
.tt-suggestion,.tt-dataset-states{padding: 0px!important;}

.link-under-line:hover{text-decoration: underline}

.layer-loading{
    position: absolute; background-color: #ffffff; width: 100%; height: 100%; z-index: 100; opacity: 0.6
}
.loading-signal{
    position: fixed;
    z-index: 101;

    padding: 5px;
    top: 50%;
    left: 50%;
}

.calendar-cont li.lead-2{padding: 10px}
.calendar-cont th{color: #9BB949; font-weight: normal}
.calendar-cont{font-size: 12px}
.all-prices-numbers div{font-size: 16px}
.calendar-results{display: none}
.form-control-2{padding:  4px 6px;}
.btn_delete{border: none; background: transparent; color: #9C9C9C}

.hidden{display: none;}
.filter_upper_item{margin-bottom: 10px;}
.load-icon{
    -webkit-box-shadow: 0 0 30px 30px rgba(255, 255, 255, 1);
    background-color: #ffffff;
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 1);}

.t-size-12{font-size: 12px}
.form-cont label{
    font-weight: normal;
    display: block;
    margin-top: 10px;
}
.form-cont ul li,.reservation_error{list-style: none; font-size: 12px; color: #B94A48; margin: -8px 0}
.form-cont ul {padding: 0; }
.container_loading{background: url("../img/loading.gif") no-repeat center; height: 50px}
.top20_items_per_page {cursor: pointer}
.no-bold{font-weight: normal}
.thumb-con img{border: 1px solid #DDDDDD; border-radius: 3px; padding: 4px; margin-right: 10px}
.table-responsive-v2 tr td.last{padding-left: 20px; }
.table-type-1 td{padding: 8px 0!important;}


