a{color: #5E95CC;}
.big-price-green{color: #5E95CC !important;}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-top-color: #5E95CC;
}
.hr-green{border-color: #5E95CC}
.calendar-cont th{color: #5E95CC}

.price li.lead {
    background-image: -moz-linear-gradient(top, #5E95CC, #4283C4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5E95CC), to(#4283C4));
    background-image: -webkit-linear-gradient(top, #5E95CC, #4283C4);
    background-image: -o-linear-gradient(top, #5E95CC, #4283C4);
    background-image: linear-gradient(#5E95CC, #4283C4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E95CC', endColorstr='#4283C4', GradientType=0);
    border: 1px solid #2C5B8B;
    border-left-color: #2C5B8B;
}
.datepicker th.switch{border-bottom: 1px solid #5E95CC}
.dropdown-menu,.tt-dropdown-menu{
    border: 1px solid #5E95CC;
}
.datepicker .day.active,
.datepicker .prev.active,
.datepicker .next.active,
.datepicker .day:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #5E95CC;
}
.comments small{color: #5E95CC}
