.premium_house .container a{
    color:#f06b12
}
.premium_house .big-price-green{
    color:#f06b12!important
}
.premium_house .nav-tabs>li>a.active,.premium_house .nav-tabs>li>a.active:hover,.premium_house .nav-tabs>li>a.active:focus{
    border-top-color:#f06b12
}
.premium_house .hr-green{
    border-color:#f2970f
}
.premium_house .calendar-cont th{
    color:#f06b12
}
.premium_house .price li.lead{
    background-image:-moz-linear-gradient(top,#f2970f,#f06b12);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#f2970f),to(#f06b12));
    background-image:-webkit-linear-gradient(top,#f2970f,#f06b12);
    background-image:-o-linear-gradient(top,#f2970f,#f06b12);
    background-image:linear-gradient(#f2970f,#f06b12);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2970F',endColorstr='#F06B12',GradientType=0);
    border:1px solid #b8510c;border-left-color:#b8510c
}
.premium_house .datepicker th.switch{border-bottom:1px solid #f2970f}
.premium_house .dropdown-menu,.premium_house .tt-dropdown-menu{border:1px solid #f2970f}
.premium_house .datepicker .day.active,.premium_house .datepicker .prev.active,.premium_house .datepicker .next.active,.premium_house .datepicker .day:hover,.premium_house .datepicker .prev:hover,.premium_house .datepicker .next:hover,.premium_house .btn-primary,.premium_house .btn-primary:hover,.premium_house .btn-primary:focus,.premium_house .btn-primary:active,.premium_house .btn-primary.active,.premium_house .open .dropdown-toggle.btn-primary{background-color:#f06b12}
.comments small{color:#f06b12}.main-menu ul.dropdown-menu{border-color:#89b733!important}