#cvi_tooltip {
	display:none;
    font-size: 12px;
	position:absolute;
	padding:4px 8px;
	color: #ffffff;
	background-color: #333333;
	max-width: 240px;
	min-width: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
#cvi_tooltip  b {color: #333333; }
#cvi_tooltip  i {font-family: Times, serif; }
#cvi_tooltip  big {text-transform: uppercase; }
#cvi_tooltip  hr {
	color: orange;
	border-color: orange; 
	background-color: orange; 
}
