body{background-color: #EAEAEA;}
.container{width: 95%; }
.body{background-color: #fff;padding: 15px 15px 10px 15px;border-radius: 5px; box-shadow: 0 1px 8px #ccc; margin-top: 18px }
h3.title{border-bottom: 1px solid #DBDBDB;color: #666666;font-size: 18px;line-height: 22px; margin: 0px 0 10px;}
h2{margin-top: -10px!important;text-transform: uppercase; margin-bottom: -20px; font-size: 22px}
form ul li,.error{color: #ff1212; font-size: 12px;}
form ul li.lead-2{color:#333;}
form.sfgen ul li{list-style: none;}
form.sfgen ul{margin-left: 0;}
.accordion-inner a{display: block;}
.accordion-toggle{text-transform: uppercase}
.form-actions{margin: -10px -15px; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; text-align: right}
footer{margin: 20px 0px; font-size: 12px; color: #313131;}
header{margin-bottom: 10px;}
.icon-blue{background-image:url("../images/bootstrap/glyphicons-halflings-blue.png")}
body label{font-size: 12px;}
.table_img tr td{vertical-align: middle;}
h2.form{font-size: 18px;}
#rooms{overflow: auto;}
textarea{height: 120px;}
table tr.error{color: #000;font-size: 14px;}
table input,table select{margin-bottom: 0px!important;}
table.no_form tbody tr{height: 47.3px;}

ul.paginator :first-child{border-left-width:1px;border-radius:3px 0 0 3px;}
ul.paginator :last-child{ border-radius:0 3px 3px 0;}
ul.paginator > li.current{background-color: #F5F5F5!important;color: #999999}
ul.paginator > li{ display: inline;line-height: 20px;-moz-border-bottom-colors: none;
    -moz-border-left-colors: none; -moz-border-right-colors: none;-moz-border-top-colors: none;
    background-color: #FFFFFF; border-color: #DDDDDD; border-image: none; border-style: solid;
    border-width: 1px 1px 1px 0; float: left; line-height: 20px; padding: 4px 12px; text-decoration: none;}
ul.paginator > li > a{text-decoration: none}
ul.paginator{border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;margin: 20px 0px; margin-top: 10px; margin-bottom: 10px;}
div.paginator-cont{text-align: center;}
.paginator li{color: #000000!important;}

.ui-sortable {margin: 0;}
.ui-sortable li{ display: block; list-style-type: none;border-top: 1px solid #DDDDDD; background-color:#fff }
.ui-sortable li img{/*width: 110px;*/ height: 80px;}
.ui-sortable li div{padding: 4px}
.ui-sortable li div.actions{margin-top: 30px;}
.ui-sortable li div.actions2{margin-top: 0px;}
.ui-sortable li div.no-margin{padding-top: 4px;}
.ui-sortable li div.actions{text-align: right;}
.ui-sortable li div.actions a{margin-right: 10px;}
.ui-sortable li:hover{background-color: #f5f5f5}
.ui-sortable li.grey{background-color: #f9f9f9}

form ul{margin: 0;}
form ul li{list-style: none}

.well-small input,.well-small select{margin-bottom: 0px;}
.alert{padding-right: 14px;}
.alert a{margin-left: 6px; color: #C09853;font-weight: bold;}
.alert a.selected{text-decoration: underline;}
.checkbox_left{float: left;}

.file-input-name{font-size: 12px;}
.permissions{margin-top: 20px;}
label.permission{margin-left: 15px;}

.dropdown-menu.user_menu{font-size: 12px;}

.red_row td{background-color: #F2DEDE!important;}
.yellow_row td{background-color: #FFFFB9!important;}
.no_link{text-decoration: none!important; cursor: pointer}
.tab_errors{color: #BF0000!important;}
.vertical_middle{vertical-align: middle;}

.container_loading{background: url("../images/loading.gif") no-repeat center; height: 50px;}

.price li.lead {padding: 2px; display: block; border-top: 1px solid #ddd; color: #333; margin: 0;font-size: 13px; }
.lead { margin-bottom: 23px; font-size: 16.099999999999998px; font-weight: 200; line-height: 1.4; }
.calendar-results{margin: 0}
.calendar-results li{list-style: none}
.text-center{text-align: center}
.rooms_selected{width: 100%}
.label_info1{background-color: #49afcd;}
.stylessTable{border: 1px solid #ddd;}
.stylessTable td{border:none; background-color: #FFFFFF;}
.cont_list{list-style-type: none;padding: 0;width: 100%;overflow-y: auto;overflow-x: hidden;height: 100%;margin: 0;border: #cccccc inset 1px;}
.cont_list li{margin: 0;padding: 0;float:left;display:inline;color:#000;}
#double li  { width:50%;}
.check_ex{margin: auto 5px;}
.data_ex{cursor: pointer;}
.data_ex h6{margin:0;}
.exportButton{float: right;margin-right: 5px;}
#sort_contacts{width: 100%;margin-bottom: 2px;}
#sort_cont{width: 100%;}
.contacts_selectors{width: 100%;margin-top: 5px;}
#option_cont{width: 100%;}
.selectors_cont{display: inline;width: 100%;}
.selectors_cont a{font-size: 12px;color: #000000;text-decoration: none;}
.selectors_cont a:hover{color: #999999;}
#select_sort{width: 100px;}
#search_element_contacts{font-size: 16px;font-weight: bold;margin-top: 10px;}
.load_cont{display: none;visibility: hidden;margin: 0 auto;}
.option_ex_div{padding: 1px;width: 100%;margin: 0 auto;}
.disable_table_cont{background-color: #ccc;z-index: 10;top: 0px;left: 0px;width: 100%;height: 100%;visibility: hidden;position: absolute;}
.load_table_cont{position: absolute;top: 30%;z-index: 15;left: 39%;visibility: hidden;}
#selected_cont{height: 500px;padding: 0;position: relative;width: 100%;}
