#reportContent h3{color: #C7C7C7;}
#reportContent h4{color: #174b70; font-weight: bold; font-size: 14px; background-color: #F5F5F5; border: 1px solid #A4A4A4; border-top: none; padding: 11px;}
#reportContent .statValue, #reportContent .statValue a, #reportContent .statValue a:visited, #reportContent .statValue a:link{text-align: right;  font-size: 16px; font-weight: bold; padding-right: 8px; color: #174b70;}
#reportContent .statValue a:hover{color:#20679B;}
#reportContent .nomValue{padding-left: 8px;color: #666;}
#reportContent .rowValue {border-bottom: 1px solid #68A432; padding-top: 8px;}

#reportContent .reportReservation h4.title {color: #174b70; font-weight: bold; font-size: 14px; background-color: #F5F5F5;border:none; padding: 0; margin:0;}
#reportContent .reportReservation .title {color: #174b70; font-weight: bold; font-size: 14px; background-color: #F5F5F5;}