{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Hola {{ user_name }},</p>
    <p>Es estupendo que quieras unirte a la comunidad de <b>MyCasaParticular.com</b>. Te aseguro que te beneficiarás con nuestros servicios exclusivos.</p>
    <p>Al inscribir tu alojamiento en el sitio, disfrutarás de la preferencia de los más de 20 mil viajeros que eligen <b>MyCasaParticular.com</b> para reservar su hospedaje en Cuba cada año.</p>
    <p>Somos una empresa de profesionales muy competitivos con más de 6 años en el mercado. Te ofrecemos seguridad, garantía y una atención personalizada.</p>
    <p>Todas las ventajas de integrar la familia de <b>MyCasaParticular.com</b> están al alcance de un click, si solo terminas el proceso de registro de tu propiedad. ¡Es muy fácil!</p>
    <p>Sabemos que de veras deseas unirte a nosotros, cuanto antes lo hagas, mejor. ¿Por qué esperar a mañana? Descubre desde ahora lo increíble de promocionar tu alojamiento con <b>MyCasaParticular.com</b>.</p>
    <p>Si no has completado el proceso de registro de tu propiedad porque tienes alguna duda o inquietud, no dudes en comunicarte con nosotros a través de <a href="mailto:casa@mycasaparticular.com">casa@mycasaparticular.com</a></p>
    <p>¡Te esperamos! Buena suerte,</p>
    <br/>
    <p><b>Equipo de MyCasaParticular.com</b></p>
{% endblock %}