.myicons {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1rem;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 1.1rem;
}
.myicons.long {
    width: 6.25rem;
    height: 6.25rem;
}
.myicons.medium {
    width: 2rem;
    height: 2rem;
}
.myicons.small {
    width: 1.3rem;
    height: 1.3rem;
}

.myicons.chef-hat{
    background-image: url("../bundles/frontend/img/icons/chef-hat.png");
}
.myicons.paladares{
    background-image: url("../bundles/frontend/img/icons/icono_paladares.png");
}
.myicons.bares{
    background-image: url("../bundles/frontend/img/icons/icono_bares.png");
}

.myicons.icono-busqueda{
    background-image: url("../bundles/frontend/img/icons/icono_busqueda.png");
}

.myicons.icono_tipo_cocina{
    background-image: url("../bundles/frontend/img/icons/icono_tipo_cocina.png");
}

.myicons.icono_tipo_comida{
    background-image: url("../bundles/frontend/img/icons/icono_tipo_comida.png");
}

.myicons.icono_rango_precio{
    background-image: url("../bundles/frontend/img/icons/icono_Rango-de-precios.png");
}

.myicons.pescado{
    background-image: url("../bundles/frontend/img/icons/pescado.png");
}
.myicons.bebida{
    background-image: url("../bundles/frontend/img/icons/bebida.png");
}
.myicons.copas{
    background-image: url("../bundles/frontend/img/icons/copas.png");
}
.myicons.taza{
    background-image: url("../bundles/frontend/img/icons/taza.png");
}

.myicons.facebook{
    background-image: url("../bundles/frontend/img/icons/facebook.png");
}
.myicons.facebook-white{
    background-image: url("../bundles/frontend/img/icons/facebook-white.png");
}
.myicons.twitter{
    background-image: url("../bundles/frontend/img/icons/twitter.png");
}
.myicons.twitter-white{
    background-image: url("../bundles/frontend/img/icons/twitter-white.png");
}
.myicons.google{
    background-image: url("../bundles/frontend/img/icons/google.png");
}
.myicons.google-white{
    background-image: url("../bundles/frontend/img/icons/google-white.png");
}
.myicons.pinterest{
    background-image: url("../bundles/frontend/img/icons/pinterest.png");
}
.myicons.pinterest-white{
    background-image: url("../bundles/frontend/img/icons/pinterest-white.png");
}
.myicons.youtube{
    background-image: url("../bundles/frontend/img/icons/youtube.png");
}
.myicons.youtube-white{
    background-image: url("../bundles/frontend/img/icons/youtube-white.png");
}
.myicons.recomendar{
    background-image: url("../bundles/frontend/img/icons/recomendar.png");
}
.myicons.recomendar-white{
    background-image: url("../bundles/frontend/img/icons/recomendar-white.png");
}


