html {
    font-size: 16px;
}

p{
    letter-spacing: 0.4px;
    margin-bottom: 0.3rem;
}

h1, h2{

}

h3{

}

h5{

}

h6{

}

.rating{

}

/* Spaces */

.space{
    display: block;
    width: 100%;
    float: left;
}
.space.space-5{
    height: 0.3rem;
}

.space.space-10{
    height: 0.6rem;
}

.space.space-20{
    height: 1.25rem;
}
.space.space-30{
    height: 1.8rem;
}
.space.space-40{
    height: 2.5rem;
}
.space.space-50{
    height: 3.1rem;
}
.space.space-60{
    height: 3.7rem;
}
.space.space-70{
    height: 4.3rem;
}
.space.space-80{
    height: 5rem;
}
.space.space-90{
    height: 5.6rem;
}
.space.space-100{
    height: 6.2rem;
}

.background-white{
    background-color: #fff;
}

.background-orange{
    background-color: #e7931a;
}

.background-red{
    background-color: #be202e;
}

.color-2e2e2e{
    color: #2e2e2e !important;
}

.color-454242{
    color: #454242;
}

.f-s-10{
    font-size: 0.625rem !important;
}
.f-s-12{
    font-size: 0.75rem !important;
}
.f-s-14{
    font-size: 0.875rem !important;
}
.f-s-16{
    font-size: 1rem !important;
}
.f-s-24{
    font-size: 1.5rem !important;
}
.f-s-18{
    font-size: 1.12rem !important;
}
.f-s-20{
    font-size: 1.25rem !important;
}
.f-s-30{
    font-size: 1.875rem !important;
}
.f-s-36{
    font-size: 2.25rem !important;
}
.f-s-60{
    font-size: 3.75rem !important;
}
.f-s-72{
    font-size: 4.5rem !important;
}
.f-w-300{
    font-weight: 300;
}
.f-w-400{
    font-weight: 400;
}
.f-w-500{
    font-weight: 500;
}
.f-w-bold{
    font-weight: 600;
}
.f-w-light{
    font-weight: 100;
}
.f-separate-0{
    letter-spacing: 0;
}

.f-f-Arial{
    font-family: Arial;
}
.f-f-mycp{
    font-family: CaeciliaRoman;
}

.line-height-1{
    line-height: 1 !important;
}
.p-5{
    padding: 0.3125rem;
}

.p-x-5{
    padding: 0 0.3125rem;
}

.p-30{
    padding: 1.8rem;
}

.p-40{
    padding: 2.5rem;
}
.p-50{
    padding: 3.1rem;
}

.p-b-40{
    padding-bottom: 2.5rem;
}

.p-t-40{
    padding-top: 2.5rem;
}


.p-r-l-30{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.m-r-5{
    margin-right: 0.31rem;
}

.m-t-40{
    margin-top: 2.5rem;
}

.m-t-50{
    margin-top: 3.1rem;
}

.margin-left-n-24{
    margin-left: -1.5rem;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}

.right-0{
    right: 0;
}

.z-index-1000{
    z-index: 1000;
}

.img-responsive{
    width: 100%;
}

.white{
    color: #fff;
}

.gray{
    color: #7f8b8c;
}

.bg-gray-mycp{
    background-color: #cfcfcf;
}

.bg-gray-e6e6e6{
    background-color: #e6e6e6;
}

.bg-gray-e1e1e0{
    background-color: #e1e1e0;
}

.bg-green-mycp{
    background: #86b32b none repeat scroll 0 0;
}

.bg-green-two-mycp{
    background-color: #63a333;
}

.bg-blue-mycp{
    background-color: #2554a1;
}

.bg-red-mycp{
    background-color: #cc3333;
}

.bg-orange-mycp{
    background-color: #e7931a;
}

.text-color-blue{
    color: #4394d1;
}

.gray-mycp{
    color: #cfcfcf;
}

.orange{
    color: #e7931a;
}

.red{
    color: #be202e;
}

.red_mycp{
    color: #be6400;
}

.green{
    color: #63a333;
}

.blue_economic{
    color: #406bb4;
}
.green_mid_range{
    color: #9dc441;
}
.orange_premium{
    color: #fa701d;
}

.yellow-color{
    color: #f4b419;
}

.border-top-1-gray {
    border-top: 1px solid #888;
}

.border-bottom-1-fblue {
    border-bottom: 1px solid #14305e;
}

.border-top-gray {
    border-top: 2px solid #888;
}

.margin-t {
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 10px 0;
}

.background-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(2);
}

.blur{
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
}

/* Box Shadows */

.box-shadow-outset{
    box-shadow: 2px 2px 3px #ccc;
}
.box-shadow-inset{
    box-shadow: 1px 2px 6px #888 inset;
}

.no-shadows{
    box-shadow: none;
}

.title-green {
    border-top: 1px solid;
    box-shadow: 0 -1px 5px #ccc;
    padding: 6px 0;
}

.row-vertical-center{
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
}

.list-inline{

}

.list-inline li{
    display: inline-block;
    padding: 3px 7px 0;
    text-align: center;
}

.list-inline li a{
    font-size: 1.4rem;
}

.list-inline li.border-circle{

}

.nav-pills > li {

}
.nav-pills > li > a {
    margin-right: 23px;
    padding: 0;
}
.count-info .label {
    position: absolute;
    left: -8px;
    top: -7px;
    padding: 4px;
}
.navbar-inverse .navbar-toggle {
    border: medium none;
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #c1c1c1;
    width: 34px;
    height: 4px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #98CD34;
    background-color: transparent;
    border-top: solid 3px transparent;
}

.navbar-nav.pull-right > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 8px;
}

.navbar-nav {
    margin: 0 -15px 0 0;
}

footer .navbar-collapse{
    border: 0;
    box-shadow: none;
}

footer .list-inline li a {
    font-size: 0.9rem;
}

#btn-footer-coll i.ion-chevron-down{
    display: none;
}
#btn-footer-coll.isopen i.ion-chevron-down{
    display: block;
}
#btn-footer-coll.isopen i.ion-chevron-up{
    display: none;
}

.list-inline.navigation{
    align-items: center;
    display: flex;
    height: 36px;
    margin: 0;
}
.list-inline.navigation li{

}
.list-inline.navigation li a{
    align-items: center;
    display: flex;
}

.collapse.in {
    overflow: visible;
}

.thumbnail {
    background-color: #fcfcff;
    background-size: cover;
    border: 0;
    border-radius: 0;
    width: 100%;
    display: block;
    height: 200px;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
}

.thumbnail .thumbnail-title{
    background-color: rgba(224, 220, 220, 0.8);
}

.detination-thumbnail {
    padding: 4px;
    line-height: 1.644;
    background-color: #fcfcff;
    border: 1px solid #98CD34;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 190px;
    display: block;
    background-size: cover;
    box-shadow: 0 0 6px #ccc;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    display: none;
}

.carousel-control.left {
    align-items: center;
    background-image: none;
    display: flex;
}
.carousel-control.right {
    align-items: center;
    background-image: none;
    display: flex;
}

#mobile-search{
    background: #86b32b none repeat scroll 0 0;
    padding: 8px 0;
}

#orange_search_bar{
    box-shadow: 1px 0 2px #000;
    padding: 5px;
}

#orange_search_bar .row {
    margin-bottom: 4px;
    margin-top: 4px;
}

#orange_search_bar .form-control{
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset;
    font-family: Arial;
    font-size: 17px;
}

.ui-select span{
    display: none;
}

.bubble-icon-search{
    display: none;
}
.bubble-icon-search.navbar-fixed-top{
    background: rgba(245, 163, 28, 0.8) none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    left: 2px;
    padding: 6px;
    position: fixed;
    top: 69px;
    z-index: 1000;
    right: auto;
}
.loading-signal {
    bottom: 0;
    height: 50px;
    left: 0;
    margin: auto;
    padding: 5px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 101;
}

/* Checkboxes */

.control {
    font-size: 0.875rem;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 26px;
    cursor: pointer;
    text-align: left;
}

.control.control--btn {
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: -4px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid #fff;
}

.control.control--btn .control__indicator {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    height: auto;
    padding: 7px;
    position: relative;
    width: auto;
}

.control__indicator.border-gray {
    border: 1px solid #454242;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {

}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: transparent;
    border: 0 none;
    border-radius: 3px;
}
.control input:checked ~ .control__indicator.border-gray {
    border: 1px solid #454242;
}

.control.control--btn input:checked ~ .control__indicator{
    background: #eeeced none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    height: auto;
    padding: 7px;
    width: auto;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {

}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: -3px;
    left: 6px;
    width: 9px;
    height: 17px;
    transform: rotate(45deg);
    border: solid #f29b12;
    border-width: 0 3px 3px 0;
}

.control.control--checkbox.control--btn .control__indicator:after{
    display: none;
}

/* Checkbox tick */
.control--checkbox .control__indicator.red:after {
    border-color: #c4312b;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.filters-container {
    box-shadow: 0 -2px 2px #888;
    margin-top: 10px;
}
.filters-container .form-control{
    box-shadow: none;
    font-size: 0.9rem;
}

/* More Filters */

.mobile-more-filter{
    box-shadow: 1px -1px 4px #666;
    padding-top: 10px;
}

.content-button{
    width: 100%;
    background-color: #cfcfcf;
}

#filter_upper{
    float: left;
    padding: 7px 7px 0;
    width: 100%;
}

/* Bubbles Speesh */

span.speech {
    background-color: #e6e6e6;
    border: 3px solid #adadad;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    text-align: center;
    width: auto;
}

span.speech:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #adadad transparent transparent #adadad;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    left: 3px;
    position: absolute;
    top: 25px;
    width: 0;
}

span.speech:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6 transparent transparent #e6e6e6;
    border-image: none;
    border-style: solid;
    border-width: 3px;
    content: " ";
    height: 0;
    left: 5px;
    position: absolute;
    top: 24px;
    width: 0;
}

.for-map{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.for-map.toClose{
    z-index: -1;
}
.for-map .close-btn{
    background: #fff none repeat scroll 0 0;
    font-size: 24px;
    padding: 2px 10px;
    position: absolute;
    right: 0;
    z-index: 1000;
}
/* Page Details */

.share-block{

}
.share-block button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #adadad;
    font-family: Arial;
    padding: 8px 0;
    text-shadow: none;
    white-space: normal;
    line-height: 0;
}

/* Responsive Slide */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    background-size: cover;
    display: none;
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

/* Navs Tab */

.nav-tabs {
    background-color: #eeeeee;
    background-image: linear-gradient(to bottom, #fcfcff 90%, #eeeeee);
    background-repeat: repeat-x;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    text-align: center;
    width: 16.66%;
}
.nav-tabs > li > a {
    background: #d3d2d0 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    height: 57px;
    margin-right: 0;
    padding: 15px 0;
}
.nav-tabs > li:last-child > a p{
    color: #FFF;
}

.nav-tabs > li > a.active {
    background: #FFF none repeat scroll 0 0;
}

.nav-tabs > li:last-child > a {
    background: #86b32b;
}
.nav-tabs > li:last-child > a.active {
    background: #ff9800;
}

.nav-tabs .nav-item + .nav-item {
    margin-left: 0;
}

.nav-tabs span.speech {
    background-color: #e6e6e6;
    border: 3px solid #adadad;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    text-align: center;
    width: auto;
    color: #9b9b9b;
}

.nav-tabs > li > a.active span.speech{
    background-color: transparent;
}

.nav-tabs > li > a.active span.speech::after {
    border-color: #fff transparent transparent #fff;
}

ul.details-desc{

}
ul.details-desc li {
    color: #bcbcbc;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 7px;
}
ul.details-desc li i{
    color: #bcbcbc;
    font-size: 18px;
}

.table thead > tr > th {
    border-bottom: 1px solid #bbbbbb;
    text-align: center;
    vertical-align: bottom;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border: 0;
    font-size: 0.8rem;
    line-height: 1.644;
    padding: 3px 1px;
    text-align: left;
    vertical-align: middle;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
    padding: 5px !important;
}

#rooms_selected th, #rooms_selected td, #rooms_selected tr{
    color: #fff;
    font-size: 0.7rem;
    padding: 1px;
    text-align: center;
}

#rooms_selected th{
    color: #8a8a8a;
    font-weight: bold;
}

.datepicker {
    border-radius: 3px;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], .radio[disabled], .radio-inline[disabled], .checkbox[disabled], .checkbox-inline[disabled], .table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th, .table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td {
    font-size: 12px;
    padding: 4px;
}

select.form-control-2 {
    padding: 0;
}

footer {
    padding: 4px 0;
}

#list-cart{
    margin-right: 7px;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 11px 5px;
}

.icon-avatar {
    margin: -8px 0 0 -39px;
}

.mycasatrip-tab{

}
.mycasatrip-tab .nav-tabs{

}
.mycasatrip-tab .nav-tabs li{
    width: 50%;
}

.mycasatrip-tab .nav-tabs li a{
    background: #d3d2d0 none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    padding: 0;
}
.mycasatrip-tab .nav-tabs li.active a{
    background: #86b32b none repeat scroll 0 0;
}

.dropdown-menu, .tt-dropdown-menu {
    left: auto;
    right: -47px;
    min-width: 80px;
    width: 310px !important;
}

#top-menu .dropdown-menu, .tt-dropdown-menu {
    left: auto;
    right: -152px;
    min-width: 80px;
    width: 310px !important;
}

.modal-body .no-bg-in-modal{
    background: none !important;
}
.modal-body .no-yp-in-modal{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sweet-alert h2 {
    font-size: 14px;
    margin: 0;
}

.marquesina{

}
.marquesina.fixed-top {
    bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.marquesina span {
    color: #fff;
    display: block;
    font-size: 13px;
}
.marquesina div i {
    background: red none repeat scroll 0 0;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    padding: 1px 9px;
}
.marquesina a#marquee-close{
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
}