frontend_welcome:
    locales:  { en: "/welcome/", es: "/bienvenido/", de: "/willkommen/" }
    defaults: { _controller: FrontEndBundle:public:welcome }

frontend_destination:
    resource: "@FrontEndBundle/Resources/config/routingFrontendDestination.yml"
    type: be_simple_i18n

frontend_municipality:
    resource: "@FrontEndBundle/Resources/config/routingFrontendMunicipality.yml"
    type: be_simple_i18n

frontend_ownership:
    resource: "@FrontEndBundle/Resources/config/routingFrontendOwnership.yml"
    type: be_simple_i18n

frontend_comment:
    resource: "@FrontEndBundle/Resources/config/routingFrontendComment.yml"
    type: be_simple_i18n

frontend_user:
    resource: "@FrontEndBundle/Resources/config/routingFrontendUser.yml"
    type: be_simple_i18n

frontend_reservation:
    resource: "@FrontEndBundle/Resources/config/routingFrontendReservation.yml"
    type: be_simple_i18n

frontend_currency:
    resource: "@FrontEndBundle/Resources/config/routingFrontendCurrency.yml"
    type: be_simple_i18n

frontend_information:
    resource: "@FrontEndBundle/Resources/config/routingFrontendInformation.yml"
    type: be_simple_i18n

frontend_faq:
    resource: "@FrontEndBundle/Resources/config/routingFrontendFaq.yml"
    type: be_simple_i18n

frontend_mycasatrip:
    resource: "@FrontEndBundle/Resources/config/routingFrontendMyCasaTrip.yml"
    prefix: mycasatrip/
    type: be_simple_i18n

frontend_payment:
    resource: "@FrontEndBundle/Resources/config/routingFrontendPayment.yml"
    type: be_simple_i18n

frontend_favorite:
    resource: "@FrontEndBundle/Resources/config/routingFrontendFavorite.yml"
    type: be_simple_i18n

frontend_language:
    resource: "@FrontEndBundle/Resources/config/routingFrontendLanguage.yml"
    type: be_simple_i18n

frontend_emails:
    resource: "@FrontEndBundle/Resources/config/routingFrontendAjaxEmails.yml"

frontend_public:
    resource: "@FrontEndBundle/Resources/config/routingFrontendPublic.yml"
    type: be_simple_i18n

