<form class="form-horizontal" >
    <div class="m-t-20 m-l-25">
        <label for="comment">Tipo de habitación </label>
        <img class="help-icon" data-href="help-step3-one" src="/bundles/mycpcasamodule/img/ayuda.png">
        <img class="help-icon" src="/bundles/mycpcasamodule/img/Zaeta-Derecha.png">
        <div class="row m-t-5">
            <div class="col-md-1">
                <a class="glyphicons keys m-t-5 m-l-10 menu-textarea"></a>
            </div><div class="col-md-6 p-l-0">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <label for="comment">No. De camas </label>
        <img class="help-icon" data-href="help-step3-one" src="/bundles/mycpcasamodule/img/ayuda.png">
        <img class="help-icon" src="/bundles/mycpcasamodule/img/Zaeta-Derecha.png">
        <div class="row m-t-5">
            <div class="col-md-1">
                <a class="glyphicons sun m-t-5 m-l-10 menu-textarea"></a>
            </div><div class="col-md-6 p-l-0">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</form>