{% extends 'PartnerBundle:Mail:translateMailTemplate.html.twig' %}
{% set user_locale='en' %}
{% block content %}
    <p style="font-family: Arial; font-size: 14px">
        {{ 'label.hellow'|trans({}, "messages", user_locale) }} {{ user_full_name }}: <br/>

        {{ 'partner.email.registeraccount.beta'|trans({}, "messages", user_locale) | raw }}
        Beta******
        <br/>

    </p>
{% endblock %}
