
{% if content %}
    <div class="alert">
        <div class="row-fluid">
            <div class="pull-left">
                Cantidad de elementos
            </div>
        </div>
    </div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Cliente</th>
        <th>País</th>
        <th>Correo</th>
        <th>Alojamiento</th>
        <th style="text-align: center">Noches Reservadas</th>
        <th style="text-align: center">Destinos Reservados</th>
        <th>Itinerario</th>
        <th>Fecha Llegada</th>
        <th>Fecha Partida</th>
    </tr>
    </thead>
    <tbody>
    {% for cont in content %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
    <p> <div class="alert alert-block">No hay datos almacenados para este reporte</div></p>
    {% endif %}

