{% if list %}
    <div class="alert">
        <div class="row-fluid">
            <div class="pull-left">
                Resultado: {{ list | length }} elementos
            </div>
        </div>
    </div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Estado</th>
        <th>Total</th>
        <th>Noches</th>
    </tr>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
        <td>{{ item.status | generalReservationStatusType }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.nights }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
    <p> <div class="alert alert-block">No hay datos almacenados para este reporte.</div></p>
    {% endif %}


