<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{"WELCOMEPAGE_TITLE" | trans}}{% endblock %} *** MyCasaParticular</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% javascripts
        '@FrontEndBundle/Resources/public/js/jquery.js'
        filter='?uglifyjs2'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        {% block content %}

        {% block include_javascripts_and_css %}
        {% endblock %}
        {% endblock %}
        </body>
    </html>
