<!DOCTYPE html>
<html>
    <head>
        <title>MyCasaParticular *** {% block title %}{{"WELCOMEPAGE_TITLE" | trans}}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ asset('bundles/frontend/js/jquery.js') }}"></script>
    </head>
    <body>
        {% block content %}

        {% block include_javascripts_and_css %}
        {% endblock %}
        {% endblock %}
        </body>
    </html>
