<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        {% for slide in slides %}
        <div class="item {% if loop.first %}active{% endif %}">
            {#<img src="{{ asset(slide) }}" alt="" style="width:100%">#}
            <div class="fill" style="background-image:url('{{ asset(slide) }}');"></div>
    </div>
    {% endfor %}
    </div>
    {#<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
    </a>#}
    </div> <!-- /.carousel -->

{#<div id="inSlider" class="carousel carousel-fade hidden-xs royalSlider rsDefault" data-ride="carousel">
<div class="carousel-inner" role="listbox">
{% for i in 1..8 %}
{% set image_url = ['bundles/frontend/img/slideshow/1/', i, '.jpg']|join %}
<div class="item {% if loop.first %} active {% endif %}">
    <!-- Set background for slide in css -->
    <div style="background-blend-mode: overlay;
            background: rgba(0, 0, 0, 0.1) url('{{ asset(image_url) }}') no-repeat scroll center center / cover ;
            position: absolute;
            height: 100%;
            width: 100%;">
    </div>

</div>
{% endfor %}
</div>
</div>#}