<div id="myCarousel" class="carousel slide">
    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
        {% for slide in slides %}
            <div data-thumb="{{ slide | imagine_filter('my_slideshow') }}" data-src="{{ slide | imagine_filter('my_slideshow') }}">
            </div>
        {% endfor %}
    </div><!-- #camera_wrap_1 -->
</div> <!-- /.carousel -->
