mycp_destinations:
    resource: "@mycpBundle/Resources/config/routingBackendDestinations.yml"
    prefix:   backend/destination/

mycp_cf:
    pattern:  /backend/mycp_cf/
    defaults: { _controller: mycpBundle:MycpCF:mycpFrontController}

mycp_database:
    resource: "@mycpBundle/Resources/config/routingBackendDatabaseUtils.yml"
    prefix: backend/database/

mycp_comments:
    resource: "@mycpBundle/Resources/config/routingBackendComment.yml"
    prefix:   backend/comment/

mycp_lodging_comments:
    resource: "@mycpBundle/Resources/config/routingLodgingComment.yml"
    prefix:   casa/comentarios/

mycp_general_informations:
    resource: "@mycpBundle/Resources/config/routingBackendGeneralInformation.yml"
    prefix:   backend/general_information/

mycp_reservations:
    resource: "@mycpBundle/Resources/config/routingBackendReservations.yml"
    prefix:   backend/reservation/

mycp_lodging_reservations:
    resource: "@mycpBundle/Resources/config/routingLodgingReservations.yml"
    prefix:   casa/reservaciones/

mycp_faqs:
    resource: "@mycpBundle/Resources/config/routingBackendFAQs.yml"
    prefix:   backend/faqs/

mycp_album:
    resource: "@mycpBundle/Resources/config/routingBackendAlbum.yml"
    prefix:   backend/album/

mycp_ownership:
    resource: "@mycpBundle/Resources/config/routingBackendOwnership.yml"
    prefix:   backend/ownership/

mycp_agency:
    resource: "@mycpBundle/Resources/config/routingBackendAgency.yml"
    prefix:   backend/agency/

mycp_lodging_ownership:
    resource: "@mycpBundle/Resources/config/routingLodgingOwnership.yml"
    prefix:   casa/propiedad/

mycp_user:
    resource: "@mycpBundle/Resources/config/routingBackendUser.yml"
    prefix:   backend/user/
mycp_rbac:
    resource: "@mycpBundle/Resources/config/routingBackendRBAC.yml"
    prefix:   backend/rbac/

mycp_rbusm:
    resource: "@mycpBundle/Resources/config/routingBackendUserStaffManager.yml"
    prefix:   backend/rbusm/

mycp_lodging_user:
    resource: "@mycpBundle/Resources/config/routingLodgingUser.yml"
    prefix:   casa/usuario/

mycp_currency:
    resource: "@mycpBundle/Resources/config/routingBackendCurrency.yml"
    prefix:   backend/currency/

mycp_language:
    resource: "@mycpBundle/Resources/config/routingBackendLanguage.yml"
    prefix:   backend/language/

mycp_log:
    resource: "@mycpBundle/Resources/config/routingBackendLog.yml"
    prefix:   backend/log/

mycp_utils:
    resource: "@mycpBundle/Resources/config/routingBackendUtils.yml"
    prefix:   backend/utils/

mycp_unavailabilityDetails:
    resource: "@mycpBundle/Resources/config/routingBackendUnavailabilityDetails.yml"
    prefix:   backend/unavailability_details/

mycp_lodging_unavailabilityDetails:
    resource: "@mycpBundle/Resources/config/routingLodgingUnavaibilityDetails.yml"
    prefix:   casa/unavailability_details/

mycp_edit_metatags:
    pattern:  backend/metatags/
    defaults: { _controller: mycpBundle:BackendMeta:edit_meta_tags}

mycp_municipality:
    resource: "@mycpBundle/Resources/config/routingBackendMunicipality.yml"
    prefix:   backend/municipalities/

mycp_season:
    resource: "@mycpBundle/Resources/config/routingBackendSeason.yml"
    prefix:   backend/seasons/

mycp_test_email_template:
    resource: "@mycpBundle/Resources/config/routingBackendTestEmailTemplate.yml"
    prefix:   backend/test/

mycp_mail_list:
    resource: "@mycpBundle/Resources/config/routingBackendMailList.yml"
    prefix:   backend/mail_list/

mycp_export:
    resource: "@mycpBundle/Resources/config/routingBackendExport.yml"
    prefix:   backend/export/

mycp_revision:
    resource: "@mycpBundle/Resources/config/routingBackendRevision.yml"
    prefix:   backend/revision/

#mycp_check:
#  pattern: /check


mycp_logout:
  pattern: /logout

mycp_get_mun_by_prov:
    pattern:  /get_cities/{country_code}
    defaults: { _controller: mycpBundle:Public:get_mun_by_prov_callback,selected:null}

mycp_get_destination_by_mun:
    pattern:  /get_destinations/{municipality}/{province}
    defaults: { _controller: mycpBundle:Public:getDestinationByMunCallback,selected:null, municipality:null, province:null}

mycp_access_denied:
    pattern:  /access_denied
    defaults: { _controller: mycpBundle:Public:access_denied}

mycp_get_cities_by_country:
    pattern:  /get_cities_by_country/{country_code}
    defaults: { _controller: mycpBundle:Public:get_cities_by_country}

mycp_backend_front:
    pattern:  /backend/
    defaults: { _controller: mycpBundle:Backend:backend_front}

mycp_lodging_front:
    pattern:  /casa/
    defaults: { _controller: mycpBundle:Lodging:lodging_front}

mycp_backend_metatags:
    resource: "@mycpBundle/Resources/config/routingBackendMetaTags.yml"
    prefix:   backend/metatags/

mycp_send_created_usercasa_mail:
    pattern:  /send_mail/create/user_casa/{userId}/{returnUrlName}
    defaults: { _controller: mycpBundle:Public:sendMailCreateUserCasa}

mycp_backend_message:
    resource: "@mycpBundle/Resources/config/routingBackendMessage.yml"
    prefix:   backend/message/

mycp_backend_report:
    resource: "@mycpBundle/Resources/config/routingBackendReport.yml"
    prefix:   backend/reports/

mycp_forget_password:
    pattern:  /backend/olvido-contrasenna/
    defaults: { _controller: mycpBundle:Backend:forgotPassword}

mycp_change_password_user:
    pattern:  /backend/cambiar-contrasenna/{string}
    defaults: { _controller: mycpBundle:Backend:changePassword }

mycp_backend_award:
    resource: "@mycpBundle/Resources/config/routingBackendAward.yml"
    prefix:   backend/awards/

mycp_get_accommodations_by_destination:
    pattern:  /get_accommodations_by_destination/{destinationId}
    defaults: { _controller: mycpBundle:Public:getAccommodationsByDestinationCallback,selected:null}

mycp_backend_payment:
    resource: "@mycpBundle/Resources/config/routingBackendPayment.yml"
    prefix:   backend/payments/

mycp_reservations_ag:
    resource: "@mycpBundle/Resources/config/routingBackendReservationsAg.yml"
    prefix:   backend/reservation_ag/