mycp_list_payments_pending_ownership:
    pattern:  /list/{items_per_page}/{filter_number}/{filter_code}/{filter_method}/{filter_payment_date_from}/{filter_payment_date_to}
    defaults: { _controller: mycpBundle:BackendPendingPayOwn:list, items_per_page: 100,filter_number:'',filter_code:'',filter_method:'', filter_payment_date_from:'',filter_payment_date_to:''}


mycp_details_payment_pending_ownership:
    pattern:  /detail/pending/ownership/{id}
    defaults: { _controller: mycpBundle:BackendPendingPayOwn:detail }

mycp_edit_payment_pending_ownership:
    pattern:  /edit/pending/ownership/{id}
    defaults: { _controller: mycpBundle:BackendPendingPayOwn:edit }

mycp_save_payment_pending_ownership:
    pattern:  /save/pending/payment
    defaults: { _controller: mycpBundle:BackendPendingPayOwn:save }