mycp_list_reservations_ag_booking:
    pattern:  /booking_ag/list/{items_per_page}/{filter_booking_number}/{filter_date_booking}/{filter_user_booking}/{filter_arrive_date_booking}/{filter_reservation}/{filter_ownership}/{filter_currency}
    defaults: { _controller: mycpBundle:BackendReservationAg:list_reservations_booking,items_per_page:100,filter_booking_number:'',filter_date_booking:'',filter_user_booking:'',filter_arrive_date_booking:'', filter_reservation:'', filter_ownership:'', filter_currency:''}

mycp_details_reservations_ag_booking:
    pattern:  /booking_ag/details/{id_booking}
    defaults: { _controller: mycpBundle:BackendReservationAg:details_booking }

mycp_list_reservations_ag:
    pattern:  /list_ag/{items_per_page}/{filter_date_reserve}/{filter_offer_number}/{filter_reference}/{filter_date_from}/{filter_date_to}/{sort_by}/{filter_booking_number}/{filter_status}/{filter_client}
    defaults: { _controller: mycpBundle:BackendReservationAg:list_reservations_ag,items_per_page:50,filter_date_reserve:'',filter_offer_number:'',filter_reference:'',filter_date_from:'',filter_date_to:'',filter_booking_number:'', filter_status:'', filter_client:'', sort_by:0}

mycp_details_reservation_ag:
    pattern:  /details_ag/{id_reservation}
    defaults: { _controller: mycpBundle:BackendReservationAg:details_reservation_ag }

mycp_send_reservation_ag:
    pattern:  /send_ag/{id_reservation}
    defaults: { _controller: mycpBundle:BackendReservationAg:send_reservation }

mycp_export_list_reservations_ag:
    pattern:  /export_ag/{filter_date_reserve}/{filter_offer_number}/{filter_reference}/{filter_date_from}/{filter_date_to}/{sort_by}/{filter_booking_number}/{filter_status}/{filter_client}
    defaults: { _controller: mycpBundle:BackendReservationAg:exportReservations,filter_date_reserve:'',filter_offer_number:'',filter_reference:'',filter_date_from:'',filter_date_to:'',filter_booking_number:'', filter_status:'',filter_client:'',sort_by:0}

mycp_set_not_available_reservation_ag_callback:
    pattern:  /set_not_available/
    defaults: { _controller: mycpBundle:BackendReservationAg:setNotAvailableCallback }

mycp_list_reservations_byuser_ag:
    pattern:  /by-users/list_user_ag/{items_per_page}/{filter_name}/{filter_agencia}/{filter_status}/{filter_accommodation}/{filter_destination}/{filter_range_from}/{filter_range_to}
    defaults: { _controller: mycpBundle:BackendReservationAg:listReservationsByUsersAG,items_per_page:100,filter_name:'',filter_agencia:'',filter_status:'',filter_accommodation:'',filter_destination:'',filter_range_from:'',filter_range_to:''}

mycp_generate_clients_ag_callback:
    pattern:  /generate_client/
    defaults: { _controller: mycpBundle:BackendReservationAg:generateClientCallback }