<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" title="My Casa Particular - {{ "SEARCH_MAIN_MENU" | trans }}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ "SEARCH_MAIN_MENU" | trans }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="height:150px;
  overflow-y: scroll;">
         {% if provinces | length %}
            {% set counter = 0 %}
            {% for prov in provinces %}
                <a class="dropdown-item" onclick='HoldOn.open();' href="{{ path('frontend_search_ownership',{'text':for_url[prov.prov_id]}) }}">{{ for_name[prov.prov_id] }}</a>


            {% endfor %}

        {% endif %}

    </div>
</li>