<div id="myNav" class="overlay" >



    <!-- Overlay content -->
    <div class="overlay-content">




        <div style='margin-right:2em;'>

            <div class="input-group">
                <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-map"></i>
      </span>
                </div>
                <input type="text" class="form-control" placeholder="Destino">
            </div>








            <div class="input-group">
                <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-calendar"></i>
      </span>
                </div>
                <input type="text" id="input_arrival_date" class="form-control datetimepicker" style="color: white" >
            </div>



            <div class="input-group">
                <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-calendar"></i>
      </span>
                </div>

                <input type="text" id='input_departure_date' class="form-control datetimepicker" style="color: white;" >
            </div>

            <div class="slidecontainer" style='margin-left: 2.9em;    padding-top: 1.5em;'>

                <div id="sliderRegular" class="slider slider-info ">

                </div>
                <label style='color:white;font-size:medium;'>Rango de Precio</label>
            </div>

        </div>

        <div class="form-group text-center" style="padding-top:10px;">
            <button  class="btn btn-info btn-small" onclick="closeNav()">Search</button>
        </div>





    </div>

</div>